@media (max-width: 700px) {
  .sidebar, .content { float: none; width: 100%; height: auto; padding-bottom: 0; }
  .sidebar { padding: 0 40px; }
  .content { margin-top: 20px; padding: 20px; }
  .hide-small { display: none; }
  section.post img.half { width: 100%; }
  #container { width: 100% !important; }
}
@media (min-width: 960px) {
  .stuff section.info { min-height: 200px; }
}