@media (max-width: 480px) {

  body {
    padding: 10px;
    .site-header {
      margin-bottom: 10px;
    }
    .fork-me, .tip {
      display: none;
    }
    .pagination {
      text-align: center;
    }
    .post {
      .post-link {
        // border: 0;
        margin-bottom: 10px;
        &:hover {
          // border: 0;
          box-shadow: none;
          .post-cover {
            opacity: 1;
          }
        }
        &.has-cover {
          padding-right: 25px;
          .mark {
            top: 210px;
          }
        }
        .post-cover {
          opacity: 1;
          position: static;
          height: 200px;
          margin: -25px -25px 25px;
          width: auto;
          border-width: 1px;
        }
      }
      
    }
  }
}