@import "bourbon/bourbon";
@include keyframes(rotate) {
  from { @include transform(rotate(0deg)); }
  to { @include transform(rotate(-80deg)); }
}

$background: #fff;

body { 
  background: $background;
  color: #303030;
  font-family: "Varela Round", "Microsoft JhengHei", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
}
.fc-webicon { 
  opacity: 0.5;
  display: inline-block; background-size: 100%; 
  width: 30px; height: 30px; text-indent: -999em; text-align: left; margin-bottom: 5px;
  @include transition(all 0.3s); border: 1px solid #ddd; margin-right: 8px; margin-top: 10px;
  &.small {
    @include border-top-radius(30px);
    @include border-bottom-radius(30px);
  }
  &:hover { opacity: 0.9; margin-bottom: 4px; }
}
.hide { display: none; }
.a-r { text-align: right; }
.a-c { text-align: center; }
.small { font-size: 11px }
.pull-right { float: right; }
.muted { color: #777; }
.colour-1 { color: #c94 }
.colour-2 { color: #925}
.colour-3 { color: #484 }
.text-big { font-size: 24px; line-height: 1em; }
strong, b { font-weight: 400; }
blockquote { 
  margin: 0;
  font-style: normal !important;
}

a, .as-link {
  text-decoration: none; 
  color: #4a8;
  @include transition(all, 0.3s);
  &:hover { color: #486 }
  &.big-button {
    display: block;
    @include border-top-radius(2px);
    @include border-bottom-radius(2px);
    @include transition(all, 0.2s);
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-width: 0;
    border-style: solid;
    border-color: #8ab;
    background: #6f8f9f;
    &:hover { 
      background: #608090;
      @include box-shadow( 0px 1px 1px rgba(0,0,0,0.2), inset 0 1px 3px rgba(255,255,255,0.55), inset 0 -1px 3px rgba(0,0,0,0.2));
    }
    &:active { @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.4)); }
    &.red {
      border-color: #ddacac;
      background: #bf6653;
      &:hover { background: #bf4634; }
    }
    &.yellow {
      border-color: #faddaa;
      background: #d0a033;
      &:hover { background: #cc9011; }
    }
    &.green {
      border-color: #ddeed0;
      background: #40914A;
      &:hover { background: #308140; }
    }
  }
}

#container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: relative;
}

hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0;
}

@include keyframes(tilde) {
  0% { margin-left: 0 }
  50% { margin-left: -50%; }
  100% { margin-left: 0 }
}
.header {
  .tilde {
    @include animation(tilde 8s ease-in infinite );
  }
}

.hr { 
  clear: both;
  margin: 25px 0;
  a.title { color: #9ac }
  .title { 
    &:hover:before { color: #4a8; }
    &:before {
      content: "⚑"; color: #adadac;
      margin-left: -13px;
      padding-right: 3px;
    }
    font-size: 13px;
    text-transform: uppercase;
    color: #555; 
  }
}

ul.posts {
  &, li { margin: 0; padding: 0; list-style: none; }
  li a { 
    @include transition(all, 0.3s);
    display: block;
    color: #a0afaa;
    margin: 20px 0 10px;
    font-size: 16px;
    line-height: 1em;
    small { font-size: 10px; color: #d0d0d0; text-transform: uppercase; }
    &:hover { 
      color: #697;
      margin-left: 5px;
    }
  }
}

section.post {
  padding: 25px 0px 0;
  border-top: 0;
  .title { font-size: 24px; }
  .date { color: #d0d0d0; }
  .author { color: #c0c0c0; a { color: #acb; }  }
  iframe, img { @include border-bottom-radius(3px); @include border-top-radius(3px); }
}

section.post, section > p {
  font-size: 14px; line-height: 1.75em;
  * { max-width: 100%; }
  iframe.copyin {
    margin: 0 -15%;
    max-width: 130%;
    width: 130%;
  }
  blockquote { 
    color: #909090;
    &:before {
      content: "◌"; margin-left: -26px;
      line-height: 20px; color: #d0dfda;
      font-size: 36px;
      position: absolute;
    }
  }
  li .CodeMirror { margin: 10px 0; }
  li p { margin-bottom: 5px; }
  img { 
    max-width: 100%;
    &.half { width: 50%; }
  }
}

.sec-head {
  color: #797979;
  line-height: 40px;
  margin: auto;
  text-align: center;
  display: block; width: 40px; height: 40px;
  font-size: 24px;
  text-transform: uppercase;
  &:hover { 
    color: #333; 
    background: #fff; 
    text-shadow: 1px 1px 0px #bbb, 2px 2px 0px #bbb, 3px 3px 0px #bbb; 
    line-height: 36px; text-indent: -3px; }
}

section.footer {
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  * { color: #797979; }
}

.twitter-button {
  margin-bottom: 40px;
}

section.info {
  @include inline-block;
  margin-right: 2%;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  small { color: #999; line-height: 1.35em; }
  .title { margin: -18px 0; }
  .item { a { padding-bottom: 1px; border-bottom: 1px dotted #ccc;} }
  &:last-of-type { margin-right: 0; }
  &.one { 
    width: 100%; 
    &:not(:last-of-type) { 
      border-bottom: 1px dotted #ccc; margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
}

.paging {
  section {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


