@import "bourbon/bourbon";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  color: #dADADB;
  line-height: 1.45em;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #1C1F21;
}

a {
  color: #7ad;
}

b, strong, h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #efefeb;
}

hr { border: 0; border-top: 1px solid rgba(255, 255, 255, .3); margin: 30px auto; height: 0; width: 50%; border-bottom: 2px solid rgba(255, 255, 255, .1); }

.container {
  width: 100%;
  max-width: 520px;
  margin: auto;
  position: relative;
}

.site-footer {
  padding: 50px 0 50px;
  margin-top: 100px;
  font-size: 12px;
  font-weight: 700;
  opacity: .6;
  @include transition(1s);
  &:hover {
    opacity: 1;
  }
}

.site-header {
  @include clearfix;
  padding: 20px 0;
  font-size: 12px;
  nav a { 
    @include inline-block;
    @include transition(1s);
    font-weight: 700;
    margin-right: 10px;
    color: #aaa;
    border-bottom: 1px solid #343434;
    &.active, &:hover { border-color: #9df; color: #eee; }
  }
}

.posts {
  .post {
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    &:last-child .post-link { border-bottom: 0; }
  }
  .post-link {
    display: block;
    padding-bottom: 10px;
    .post-title {
      @include transition(1s);
      font-weight: 700;
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      color: #48a;
    }
    &:hover .post-title { color: #8cf; text-shadow: 0 0 4px rgba(255, 255, 255, .5); }
    .meta {
      display: block;
      font-size: 11px;
      text-transform: uppercase;
      color: #434343;
      font-weight: 700;
      line-height: 1.3em;
    }
  }
}

.avatar {
  border-radius: 100px;
  width: 60px;
  @include inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border: 0;
  &.big {
    width: 136px;
  }
  & + .post-title {
    @include inline-block;
    margin: 0;
    vertical-align: middle;
  }
}

header {
  .post-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px;
    position: relative;
    z-index: 1;
    line-height: 1em;
  }
}

article {
  header {
    margin-bottom: 20px;
  }  
  img {
    max-width: 100%;
    margin: 10px 0;
  }

  .small {
    max-width: 260px;
  }

  blockquote {
    border-left: 1px solid rgba(255, 255, 255, .3);
    box-shadow: -2px 0 0 rgba(255, 255, 255, .1);
    padding-left: 20px;
    font-style: normal;
    margin: 30px 0 30px;
    p:first-child, p:last-child { margin: 0; }
  }
  ul, ol {
  }
}

.tip {
  code {
    font-size: 9px;
    border-radius: 2px;
    padding: 2px 4px 1px;
    background-color: transparent;
    border: 0;
    color: #fff;
  }
  font-size: 14px;
  margin: 40px 0 0;
}

.pagination {
  height: 20px;
  position: absolute; 
  top: 62px;
  width: 100%;
  display: none;
  .page-nav {
    font-size: 0;
    @include inline-block;
    display: block;
    height: 0;
    border: 8px solid transparent;
  }
  .previous { float: left; margin-left: -25px; border-right: 10px solid #ddd; border-left-width: 0; }
  .next { float: right; margin-right: -25px; border-left: 10px solid #ddd; border-right-width: 0; }
}

.plain {
  background-color: transparent;
  border: 0;
  margin: 40px auto 30px;
  text-align: left;
  color: #999;
  display: inline-block;
}


.contribution {
  margin: 0 -100px;
}