@import "bourbon/bourbon";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
  background-color: #f4f4f4;
  color: #343434;
  line-height: 1.6em;
  font-family: Ubuntu;
  padding: 20px 10px;
}

a {
  color: #6AD;
  font-weight: 700;
}

b, strong, h1, h2, h3, h4, h5 {
  font-weight: 700;
}

hr { border: 0; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; margin: 20px 0; height: 6px; }

.wrapper {
  max-width: 620px;
  width: 100%;
  margin: auto;
}

.site-footer {
  text-align: center;
  padding: 25px;
}

.site-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: right;
  .site-title {
    &:hover {
      .block { background-color: #6AD; }
      .lastname { opacity: .7; color: #59b; }
      color: #59b;
    }
    .block {
      display: inline-block;
      width: 30px;
      height: 9px;
      margin-top: 1px;
      background-color: #ddd;
      margin-right: 10px;
      @include transition(.4s);
    }
    float: left;
    color: #676767;
    @include transition(.4s);
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    .firstname { margin-right: 5px; }
    .lastname { opacity: .4; @include transition(.4s); }
  }
}

.posts {
  text-align: center;
  font-size: 0;
  .post-link {
    color: inherit;
    font-size: 13px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    @include transition(.5s);
    &.has-cover {
      padding-right: 185px;
    }
    .post-cover {
      @include transition(.5s);
      position: absolute;
      width: 160px;
      top: 0;
      right: 0;
      background-size: cover;
      background-position: 50% 50%;
      border: 10px solid #fff;
      height: 100%;
      opacity: .3;
    }
    .post-title {
      margin: 0 0 5px;
    }
    .meta {
      opacity: .4;
      font-size: 10px;
    }
    .excerpt {
      color: #888;
      margin: 20px 0 0;
      max-height: 100px;
      overflow: hidden;
      font-weight: normal;
    }
    .mark { opacity: 0; }
    &:hover {
      .mark { opacity: 1; }
      .post-cover { opacity: .6; }
      border: 1px solid #eee;
      box-shadow: 0 0 25px #eee;
    }
  }
}

.mark {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 5px solid #eee;
  border-right-color: transparent;
  border-bottom-color: transparent;
  @include transition(.5s);
}

article {
  padding: 25px;
  background-color: #fff;
  font-size: 14px;
  color: #565656;
  line-height: 1.6em;
  position: relative;
  hr { border-color: #efefef; }
  p {
    margin: 0.6em 0;
  }
  header {
    margin-bottom: 30px;
    .post-title {
      font-weight: 700;
      margin: 0;
    }
  }
  .signoff {
    margin-top: 30px;
    color: #777;
  }
  * {
    max-width: 100%;
  }
  img:not([height]) {
    margin: 10px 0;
    width: 100%;
    border-radius: 4px;
  }
  blockquote {
    font-style: normal;
    margin: 20px 0 20px -30px;
    width: auto;
    display: block;
    padding: 5px 25px 5px 20px;
    border-left: 10px solid #e0e9ed;
    box-shadow: -5px 0 0 white,  -5px 5px 0 white,  -5px -5px 0 white;
    p:first-child, p:last-child { margin: 0; }
  }
  ul, ol {
    margin: 20px 0 20px 20px;
  }
}

.pagination {
  margin-top: 25px;
  padding: 25px;
  .tip {
    padding-bottom: 20px;
  }
  .small-title, .tip {
    font-size: 11px;
    color: #888;
  }
  h4 {
    margin: 5px 0;
  }
}

.plain {
  background-color: transparent;
  border: 0;
  margin: 40px auto 30px;
  text-align: left;
  color: #999;
  display: inline-block;
}