@import "mixin";

// mobile ---------------------------------

body { 
  background: #f9f9f9;
  color: #555;
  font-family: "Lato", "Microsoft JhengHei", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.25em;
  padding: 20px;
}

[data-more] {
  div.more-body { display: none; }
}

.small { font-size: 12px }
.pull-right { float: right; }
strong, b { font-weight: 400; }

a, .as-link {
  text-decoration: none; 
  color: #47b;
  &.big-button {
    display: block;
    @include radius(3px);
    @include transit(all, 0.2s);
    color: #fff;
    font-size: 12px;
    line-height: 2em;
    padding: 8px 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border: 4px solid #8ab;
    background: #6f8f9f;
    &:hover { background: #608090; }
    &:active { @include box-shadow(inset 0 1px 2px #406070); }
    &.red {
      border: 4px solid #ddacac;
      background: #bf6653;
      &:hover { background: #bf4634; }
      &:active { @include box-shadow(inset 0 1px 2px #602022); }
    }
  }
}

#container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

@media (min-width: 960px) {
  #container { width: 60%; }
}

.colour-1 { color: #c94 }
.colour-2 { color: #925}
.colour-3 { color: #484 }
.text-big { font-size: 200%; line-height: 1em; }

hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0;
}

ul.posts {
  &, li { margin: 0; padding: 0; list-style: none; }
  li a { 
    opacity: 0.7;
    display: block;
    @include transit(all, 0.3s);
    &:hover { opacity: 1; }
    margin-bottom: 15px;
    font-size: 80%;
    small { font-size: 50%; text-transform: uppercase; }
  }
}

section.post {
  border: 1px dotted #CCC;
  padding: 15px 15px 0;
  border-top: 0;
  margin: -25px 0 0;
  min-height: 250px;
}

section.post, section > p {
  font-size: 1.20rem; line-height: 1.75rem;
  * { max-width: 100%; }
  blockquote { font-style: italic; color: #999; }
  li .CodeMirror { margin: 10px 0; }
  li p { margin-bottom: 5px; }
  img { 
    max-width: 100%;
    &.half { width: 50%; }
  }
}

@media (max-width: 580px) {
  section.post img.half { width: 100%; }
}
.muted { color: #777; }

.sec-head {
  display: none; 
  background: #494949;
  color: #fff;
  display: block;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  line-height: 58px;
  margin: 10px auto;
  text-align: center;
  font-size: 80%;
  text-shadow: -1px -1px 0px #000;
}

section.footer {
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  * { color: inherit }
}

.twitter {
  margin-top: 0px;
  position: absolute;
  right: 0px;
}

section.info {
  &.one { 
    width: 100%; 
    &:not(:last-of-type) { 
      border-bottom: 1px dotted #ccc; margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .title { font-size: 1rem; margin: -18px 0; }
  width: 31%; 
  &:not(:last-of-type) { margin-right: 2%; }
  @include inline-block;
  vertical-align: top;
  font-size: 1rem;
  line-height: 2rem;
  small { color: #999; }
  .item { * { padding-bottom: 2px; border-bottom: 1px dotted #ccc;} }
  h4 {

  }
}

center.date {
  font-size: 60%; position: relative;
  height: 0; top: -10px;
}

.hr { 
  clear: both;
  height: 1px;
  border-top: 1px dotted #d0d0d0;
  margin: 25px 0;
  text-align: center;
  a.title { color: #9ac }
  .title { 
    white-space: nowrap; max-width: 90%; overflow: hidden; text-overflow: ellipsis;
    background: #f9f9f9; padding: 0 8px; margin: -21px 0; font-size: 0.5em; text-align: center;
    color: #a0a0a0; display: inline-block;
  }
}