@import "bourbon/bourbon";
@include keyframes(rotate) {
  from { @include transform(rotate(0deg)); }
  to { @include transform(rotate(-80deg)); }
}

$background: #f9f9f9;

h1, h2, h3, h4, h5, strong, b { font-weight: 600; }

html, body { height: 100%; }
body { 
  &, * { -webkit-font-smoothing: antialiased; }
  background: $background;
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  padding: 0; margin: 0;
}
#go-back-home { margin: 40px 0 0; &:hover { background-image: none; } }
.capitalize { text-transform: capitalize; }
.upcase { text-transform: uppercase; }
.downcase { text-transform: lowercase; }
.hide { display: none; }
.a-r { text-align: right; }
.a-c { text-align: center; }
.small { font-size: 11px }
.pull-left { float: left; }
.pull-right { float: right; }
.muted { color: #777; }
.colour-1 { color: #c94 }
.colour-2 { color: #925}
.colour-3 { color: #484 }
.text-big { font-size: 24px; line-height: 1em; }
ol, ol li { padding: 0; margin: 0; }
blockquote { 
  margin: 0;
  font-style: normal !important;
}

footer {
  width: 100%;
  max-width: 600px;
  line-height: 2em;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
  * { color: #797979; }
}

#container {
  @include clearfix;
  @include box-sizing(border-box);
  width: 100%;
  max-width: 600px;
  background: #fff;
  margin: 40px auto 20px;
  border-radius: 7px;
  border: 1px solid #eee;
  position: relative;
  .links {
    &:first-child { border-bottom: 1px solid #efefef; }
    &:last-child { border-top: 1px solid #efefef; }
    padding: 30px 40px 24px;
    text-align: center;
    [id^=ind] {
      padding: 4px 2px;
      @include inline-block;
      margin-right: 15px;
      margin-bottom: 6px;
    }
  }
}


.content {
  @include box-sizing(border-box);
  position: relative;
  width: 100%;
  border-width: 0;
  border-style: solid;
  padding: 30px 40px;
  margin: auto;
}

a, .as-link {
  text-decoration: none; 
  color: darken(#77808f, 10%);
  line-height: 1.4em;
  border-bottom: 1px dotted fade-out(#77808f, 1);
  @include inline-block;
  @include transition(color 0.3s);
  &.active, &:hover { 
    color: darken(#77808f, 25%); 
    background-image: url(/images/line.png);
    background-repeat: repeat-x;
    background-position: left bottom;
  }
  &.big-button {
    min-width: 30%;
    border-radius: 2px;
    @include transition(all, 0.2s);
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    border-width: 0;
    border-style: solid;
    border-color: #8ab;
    background: #6f8f9f;
    @include box-shadow(inset 0 -2px 0px rgba(0,0,0,0.1));
    &:hover { 
      background: #608090;
      // @include box-shadow( inset 0 -2px 0px rgba(0,0,0,0.1));
    }
    &:active { @include box-shadow(inset 0 2px 0px rgba(0,0,0,0.1)); }
    &.red {
      border-color: #ddacac;
      background: #a65;
      &:hover { background: #b76; }
    }
    &.blue {
      border-color: #ace;
      background: #678;
      &:hover { background: #789; }
    }
    &.green {
      border-color: #ddeed0;
      background: #696;
      &:hover { background: #797; }
    }
  }
}


hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0;
}

ul.posts {
  &, li { margin: 0; padding: 0; list-style: none; }
  li { margin-bottom: 20px; }
  .datetime {
    @include inline-block;
    width: 130px;
    text-transform: uppercase;
    float: right;
    color: #999;
    font-size: 10px;
    text-align: right;
  }
}


section.post {
  margin: 0 -40px;
  // @include box-sizing(border-box);
  text-align: left;
  border-top: 0; 
  padding: 0;
  > p, h1 { padding: 0 60px; }
  > ul, > ol { padding: 0 80px; }
  ul, ol { ul, ol { margin-left: 20px; } }
  h1 {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 60px;
    .date { 
      color: #d0d0d0; font-size: 10px; 
    }
  }
  h2 { margin: 0 0 5px; letter-spacing: 1px; font-weight: 400; }
  iframe, img { 
    @include border-bottom-radius(3px); @include border-top-radius(3px);
  }
}

section.post, section > p {
  font-size: 14px; line-height: 1.6em;
  * { max-width: 100%; }
  blockquote { 
    @include transition(all, 0.3s);
    color: #606060;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 15px 60px;
    &:hover { color: #454545; }
    &:hover:before { color: darken(#d0dfda, 8%); }
    &:before { left: -3px; }
    &:after { right: -1px; }
    &:before, &:after {
      content: "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^"; 
      font-size: 24px; 
      overflow: hidden;
      position: absolute;
      top: 0px; bottom: 0px;
      line-height: 0.4em;
      word-break: break-all;
      color: #d0dfda;
      display: block; width: 7px !important;
      white-space: normal;
    }
  }
  li .CodeMirror { margin: 10px 0; }
  li p { margin-bottom: 5px; }
  code { font-size: 13px; color: #888; background: #f9f9f9; padding: 0 4px; }
  img { 
    max-width: 100%;
    &.half { width: 50%; }
  }
}

.twitter-button {
  margin-bottom: 40px;
}

section.info {
  @include inline-block;
  margin-right: 2%;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  small { color: #999; line-height: 1.35em; }
  &:last-of-type { margin-right: 0; }
  &.one { 
    width: 100%; 
    &:not(:last-of-type) { 
      border-bottom: 1px dotted #ccc; margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
}

.paging {
  a { opacity: 0.15 }
  a:hover { opacity: 0.7; border: 0; }
  .left, .right { 
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 60px;
  }
  .left { margin-left: -340px; }
  .right {  margin-left: 320px; }
}

@include keyframes(cage) {
  0% { background-image: url(../images/13030701.png) }
  31% { background-image: url(../images/13030701.png) }
  34% { background-image: url(../images/13030702.png) }
  65% { background-image: url(../images/13030702.png) }
  68% { background-image: url(../images/13030703.png) }
  100% { background-image: url(../images/13030703.png) }
}
.slide-place-cage {
  width: 100%; height: 300px;
  cursor: pointer;
  background-image: url(../images/13030701.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  @include background-size(cover); 
  @include animation( cage 6s linear infinite );
}

.label { background: #444; color: #fff; }