@import "bourbon/bourbon";

.tooltip {
  position: absolute;
  margin: -45px 15px;
  background: #444;
  @include border-top-radius(30px);
  @include border-bottom-radius(30px);
  display: none; color: white;
  padding: 7px 15px;
  .arrow {
    border: 6px solid transparent;
    border-top: 6px solid #444;
    position: absolute; left: 10px;
    bottom: -10px;
    @include transform( rotate(20deg) );
  }
}