@import "bourbon/bourbon";

.tooltip {
  position: absolute;
  opacity: 0.8;
  background: #000;
  @include border-top-radius(3px);
  @include border-bottom-radius(3px);
  display: none; color: white;
  padding: 6px 10px; line-height: 1.4em;
  max-width: 240px;
  &.show {
    @include inline-block;
  }
  .arrow {
    border: 6px solid transparent;
    border-top: 6px solid #000;
    position: absolute; left: 10px;
    bottom: -10px;
    @include transform( rotate(20deg) );
  }
}