---
title: 邱慕安
permalink: /zh-TW/
layout: default
root: true
---

<p>
  軟體工程師。我喜歡做低調好用的網站。
</p>
<p>
  我曾經在英國伯明翰、倫敦，和美國紐約住過幾年。現在定居於台灣台北<span data-timestamp-text="。台北時間現在是 {time}"></span>。
</p>

<p>
  我也會在 <a href="https://instagram.com/muanchiou" rel="me">Instagram</a>、<a href="https://twitter.com/muanchiou" rel="me">Twitter</a>，和 <a href="https://github.com/muan" rel="me">GitHub</a> 上活動。這裡還有份 <a href="https://read.cv/muan" rel="me">CV</a>。
</p>

<p>
  <a href="{% link _pages/qna.md %}">問與答</a>／<a href="{% link _pages/blogroll.md %}">部落格名單</a>
</p>

<div class="lang">
  <a href="/zh-TW/" aria-current="true">正體中文</a><a href="/">English</a>
</div>

<hr class="hr">

<h2 class="text">動態</h2> <a href="/stories.xml" class="styled-link">RSS</a><a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">這是什麼？</a>

<div class="stories">
  <open-stories src="/stories.json" show-metadata><span>限時</span></open-stories>
  <open-stories src="/stories-books.json" show-metadata is-highlight><span>書</span></open-stories>
  <open-stories src="/stories-food.json" show-metadata is-highlight><span>食物</span></open-stories>
  <open-stories src="/stories-plants.json" show-metadata is-highlight><span>植物</span></open-stories>
</div>

<hr class="hr">

<h2 class="text">照片</h2><a href="/photos" class="styled-link">全部照片</a> <a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.photos | slice: 0, 5 %}
{% for photo in photos %}
  <a href="/photos#P{{ photo.guid}}">
    <img src="{{ photo.path }}/thumbnail" height="200" alt="{{ photo.alt }}" loading="lazy" style="aspect-ratio: {{ photo.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

<h2 class="text">文章</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time>{{ post.date | date_to_string }}</time></li>
{% endfor %}

</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<!--h2 class="text">個人筆記</h2><a href="/notes" class="styled-link">全部筆記</a> <a href="/notes.xml" class="styled-link">RSS</a-->
<!--div class="note">
  <div class="note-heading">
    最新：{{ note.date | date: "%B %d, %Y" }}
  </div >
  {{ note.content | markdownify }}
</div-->
