---
title: Mu-An Chiou
permalink: /de-DE/
layout: default
root: true
---

<p>
  Eine Software-Designerin und -Entwickerin, die bescheidene Websites erstellt. Mitglied des <a href="https://infrequently.org/stickers/">Anti-JavaScript-JavaScript-Club</a>.
</p>
<p>
  Lebt in Taipei, Taiwan<span class="time" data-timestamp-text=", wo es gerade {time} ist"></span>. 
  Frühere Wohnorte sind New York, London und Birmingham, UK.
</p>

<p>
  Zuletzt aktualisiert am {{ site.recent_date | date: "%d.&thinsp;%m." }}: Selbstständig. Schläft, strickt, lernt Deutsch und backt manchmal Brot. Plant teilzeit in Berlin zu leben.
</p>

<nav aria-label="Beruf">
  <a href="https://gist.github.com/muan/23f7411e038c939005f6a0bd00d2a548">Arbeitsreferenz</a><hr class="inline-hr">
  <a href="https://read.cv/muan" rel="me">Read.cv</a>
</nav>

<br>

<nav aria-label="Extra Inhalt">
  <a href="{% link _pages/qna.md %}">Q&A</a><hr class="inline-hr"> 
  <a href="{% link _pages/blogroll.md %}">Blogroll</a><hr class="inline-hr">
  <a href="{% link _pages/issues.html %}">Issues</a><hr class="inline-hr">
  <a href="{% link _pages/banners.md %}">88&times;31</a>
</nav>
<nav aria-label="Soziale Links">
  <a href="https://github.com/muan" rel="me">GitHub</a><hr class="inline-hr">
  <a href="https://mastodon.social/@muan" rel="me">Mastodon</a><hr class="inline-hr">
  <a href="https://www.duolingo.com/profile/muan" rel="me">Duolingo</a><hr class="inline-hr">
  <a href="http://letterboxd.com/muan/" rel="me">Letterboxd</a>
</nav>

<div class="lang">
  <a href="/zh-TW/" srclang="zh-TW">正體中文</a><a href="/" srclang="en-US">English</a><a href="/de-DE/" srclang="de-DE" aria-current="true">Deutsch</a>
</div>

<hr class="hr">

<h2 class="normal-heading">Stories</h2> <a href="/stories.xml" class="styled-link">RSS</a><a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">Was ist das?</a>

<div class="stories">
  {% include stories.html lang="de-DE" %}
</div>

<hr class="hr">

<h2 class="normal-heading">Fotos</h2><a href="/photos" class="styled-link">Alle Fotos</a> <a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.photos | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/photos#P{{ photo.id }}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<h2 class="normal-heading">Filmfotos</h2><a href="/film" class="styled-link">Alle Filmfotos</a> <a href="/film.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.film | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/film#P{{ photo.id}}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

{% assign note = site.notes | last %}
<h2 class="normal-heading">Notizen</h2><a href="/notes" class="styled-link">Aktuelle Notizen</a> <a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <time class="general-actions monospace" datetime="{{ note.date | date_to_xmlschema }}">
    Neueste: {{ note.date | date: "%d.%m.%Y" }}
  </time>
  <div class="note-content" lang="{{ note.lang }}">{{ note.content | markdownify }}</div>
  <div class="note-tags">{% for tag in note.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
</div>

<hr class="hr">

<h2 class="normal-heading">Beiträge</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign posts = site.posts | where: "feature", 1 | slice: 0, 10 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time class="monospace" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d.%m.%Y" }}</time></li>
{% endfor %}
</ul>
