---
title: Mu-An Chiou
layout: default
root: true
---

<p>
  A software designer and engineer. Makes modest websites. Member of the <a href="https://infrequently.org/stickers/">Anti JavaScript JavaScript Club</a>.
</p>
<p>
  Based in Taipei, Taiwan<span class="time" data-timestamp-text=", where it's currently {time}"></span>. Previous home bases include New York, London, and Birmingham, UK. 
</p>

<p>
  As recent as {{ site.recent_date | date: "%B %e" }}, self-employed. Sleeps, knits, learns German, and sometimes bakes bread. Currently making plans to live in Berlin part-time.
</p>

<nav aria-label="Profession">
  <a href="https://gist.github.com/muan/23f7411e038c939005f6a0bd00d2a548">Work references</a><hr class="inline-hr"><a href="https://read.cv/muan" rel="me">Read.cv</a>
</nav>

<br>

<nav aria-label="Additional content">
  <a href="{% link _pages/qna.md %}">Q&A</a><hr class="inline-hr">
  <a href="{% link _pages/blogroll.md %}">Blogroll</a><hr class="inline-hr">
  <a href="{% link _pages/issues.html %}">Issues</a><hr class="inline-hr">
  <a href="{% link _pages/banners.md %}">88&times;31</a>
</nav>
<nav aria-label="Social">
  <a href="https://github.com/muan" rel="me">GitHub</a><hr class="inline-hr">
  <a href="https://mastodon.social/@muan" rel="me">Mastodon</a><hr class="inline-hr">
  <a href="https://www.duolingo.com/profile/muan" rel="me">Duolingo</a><hr class="inline-hr">
  <a href="http://letterboxd.com/muan/" rel="me">Letterboxd</a>
</nav>

<div class="lang">
  <a href="/zh-TW/" srclang="zh-TW">正體中文</a><a href="/" srclang="en-US" aria-current="true">English</a><a href="/de-DE/" srclang="de-DE">Deutsch</a>
</div>

<hr class="hr">

<h2 class="text">Stories</h2> <a href="/stories.xml" class="styled-link">RSS</a> <a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">What are these?</a>

{% include stories.html lang="en" %}

<hr class="hr">

<h2 class="text">Photos</h2><a href="/photos" class="styled-link">All photos</a> <a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.photos | reverse | slice: 0, 5 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/photos#P{{ photo.id }}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<h2 class="text">Film photos</h2><a href="/film" class="styled-link">All film photos</a> <a href="/film.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.film | reverse | slice: 0, 5 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/film#P{{ photo.id}}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

{% assign note = site.notes | last %}
<h2 class="text">Notes</h2><a href="/notes" class="styled-link">Recent notes</a> <a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <div class="note-heading">
    Latest: {{ note.date | date: "%B %e, %Y" }}
  </div>
  <div lang="{{ note.lang }}">{{ note.content | markdownify }}</div>
  <div class="note-tags">{% for tag in note.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
</div>

<hr class="hr">

<h2 class="text">Posts</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign pages = site.pages | where: "feature", 1 %}
{% for post in pages %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time></li>
{% endfor %}
</ul>
