---
title: 邱慕安
permalink: /zh-TW/
layout: default
root: true
---

<p>
  軟體設計、工程師，做著低調好用的網站。<a href="https://infrequently.org/stickers/">Anti JavaScript JavaScript Club</a> 的成員之一。
</p>
<p>
  目前定居於台灣台北市<span class="time" data-timestamp-text="，現在 {time}"></span>。曾住於英國伯明翰、倫敦，和美國紐約。
</p>
<p>
  截至 {{ site.recent_date | date: "%m/%d" }} 在東摸西摸，沒有全職工作。平常喜歡睡覺、常織毛線、努力學德文，偶爾烤麵包。正在安排未來旅居柏林。
</p>

<nav aria-label="專業">
  <a href="https://gist.github.com/muan/23f7411e038c939005f6a0bd00d2a548">工作評價</a><hr class="inline-hr">
  <a href="https://read.cv/muan" rel="me">Read.cv 履歷</a></span>
</nav>

<br>

<nav aria-label="額外內容">
  <a href="{% link _pages/qna.md %}">問與答</a><hr class="inline-hr"> 
  <a href="{% link _pages/blogroll.md %}">部落格名單</a><hr class="inline-hr">
  <a href="{% link _pages/issues.html %}">Issues</a><hr class="inline-hr">
  <a href="{% link _pages/banners.md %}">88&times;31</a>
</nav>
<nav aria-label="社群連結">
  <a href="https://github.com/muan" rel="me">GitHub</a><hr class="inline-hr">
  <a href="https://mastodon.social/@muan" rel="me">Mastodon</a><hr class="inline-hr">
  <a href="https://www.duolingo.com/profile/muan" rel="me">Duolingo</a><hr class="inline-hr">
  <a href="http://letterboxd.com/muan/" rel="me">Letterboxd</a>
</nav>

<div class="lang">
  <a href="/zh-TW/" srclang="zh-TW" aria-current="true">正體中文</a><a href="/" srclang="en-US">English</a><a href="/de-DE/" srclang="de-DE">Deutsch</a>
</div>

<hr class="hr">

<h2 class="text">動態</h2> <a href="/stories.xml" class="styled-link">RSS</a><a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">這是什麼？</a>

<div class="stories">
  {% include stories.html lang="zh-TW" %}
</div>

<hr class="hr">

<h2 class="text">照片</h2><a href="/photos" class="styled-link">全部照片</a> <a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.photos | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/photos#P{{ photo.id }}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<h2 class="text">底片照片</h2><a href="/film" class="styled-link">全部底片照片</a> <a href="/film.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.film | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/film#P{{ photo.id}}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

{% assign note = site.notes | last %}
<h2 class="text">隨筆</h2><a href="/notes" class="styled-link">近期隨筆</a> <a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <div class="note-heading">
    最新：{{ note.date | date: "%B %e, %Y" }}
  </div>
  <div class="note-content" lang="{{ note.lang }}">{{ note.content | markdownify }}</div>
  <div class="note-tags">{% for tag in note.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
</div>

<hr class="hr">

<h2 class="text">文章</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign posts = site.pages | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}

{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</time></li>
{% endfor %}

</ul>
