---
layout: default
---

<details open>
  <summary><h2 class="as-text">Right now</h2></summary>
  <ul class="list list-items">
    <li>2013 ~ Web Systems Engineer at <mark><a href="https://github.com/">GitHub</a></mark>, previously Product Designer</li>
    <li>2011 ~ Cofounder of <mark><a href="https://www.zeczec.com/">嘖嘖</a></mark></li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Fun facts</h2></summary>
  <ul class="list list-items">
    <li>Based in <a href="https://www.instagram.com/p/BiYly8pF9Nu/">New York</a> since 2018</li>
    <li>Studied and worked in <a href="https://www.instagram.com/p/WZ7xGEJarC/">England</a> in 2009-2013</li>
    <li>Majored in <a href="https://www.behance.net/muan">Interior Products Design</a></li>
    <li>My favorite breakfast is <a href="https://www.instagram.com/p/BTAhYEeh4vZ/">蛋餅 /dànbǐng/</a></li>
    <li>I play <a href="https://www.instagram.com/p/joCAsOJakQ/">bass</a></li>
    <li>From <a href="https://www.instagram.com/p/BdCHPYjhWHa/">Taipei</a>, <a href="https://www.instagram.com/p/BchP8NXBiDy/">Taiwan</a></li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Hyperlinks &amp; contact</h2></summary>
  <ul class="list list-items">
    <li>
      By level of activity:
      <mark><a href="https://github.com/muan" rel="me">GitHub</a></mark>,
      <mark><a href="https://instagram.com/muanchiou" rel="me">Instagram</a></mark>,
      <mark><a href="https://micro.blog/muan" rel="me">micro.blog</a></mark>,
      <mark><a href="https://twitter.com/muanchiou" rel="me">Twitter</a></mark>,
      <mark><a href="https://mastodon.social/@muan" rel="me">mastodon</a></mark>,
      <mark><a href="https://dribbble.com/muan" rel="me">Dribbble</a></mark>
    </li>
    <li>Email is hi at this domain</li>
  </ul>
</details>
<details>
  <summary><h2 class="as-text">Not tweets</h2> <a class="small" href="/notes.xml">[feed]</a> <a class="small" href="https://micro.blog/muan">[mirror]</a></summary>

  <ul class="list-notes">
    {% for note in site.data.notes limit: 5 %}
      <li class="note">
        <time class="small">{{ note.date | date: "%b %d, %Y" }}</time> <a href="/notes#date-{{ note.date | date: "%Y-%m-%d" }}{{ note.slug }}" class="small">#</a>
        <div>{{ note.content | markdownify }}</div>
      </li>
    {% endfor %}
    {% if site.data.notes.size > 5 %}
      <li><a class="small" href="/notes">More.</a></li>
    {% endif %}
  </ul>
</details>
<details hidden>
  <summary><h2 class="as-text">Posts</h2> <a class="small" href="/feed.xml">[feed]</a></summary>

  <ul class="list list-items">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <time>{{ post.date | date: "%b %d, %Y" }}</time>
      </li>
    {% endfor %}
  </ul>
</details>
