---
title: Mu-An Chiou
layout: default
root: true
---

<p>
  A software designer and engineer. Makes modest websites. Member of the <a href="https://infrequently.org/stickers/">Anti JavaScript JavaScript Club</a>.
</p>
<p>
  Lives in Taipei, Taiwan, and sometimes in Berlin. <span class="time" data-timestamp-text="It is currently {time} in Taipei."></span> Previous home bases include New York, London, and Birmingham, UK. 
</p>

<p>
  As recent as {{ site.recent_date | date: "%b %e" }}, self-employed. Sleeps, codes, learns German, bakes pretzels, and contributes accessibility and civic causes through advocacy and tech.
</p>

<nav aria-label="Profession">
  <a href="{% link _pages/endorsements.md %}">Endorsements</a><hr class="inline-hr">
  <a href="https://cv.muan.dev" rel="me">CV</a>
</nav>

<br>

<nav aria-label="Additional content">
  <a href="{% link _pages/qna.md %}">Q&A</a><hr class="inline-hr">
  <a href="{% link _pages/causes.md %}">{{ site.i18n["en-US"]["causes"] }}</a><hr class="inline-hr">
  <a href="{% link _pages/goodies.md %}">Goodies</a><hr class="inline-hr">
  <a href="{% link _pages/blogroll.md %}">Blogroll</a><hr class="inline-hr">
  <a href="{% link _pages/issues.html %}">Issues</a><hr class="inline-hr">
  <a href="{% link _pages/banners.md %}">88&times;31</a>
</nav>
<nav aria-label="Social">
  <a href="https://github.com/muan" rel="me">GitHub</a><hr class="inline-hr">
  <a href="https://mastodon.social/@muan" rel="me">Mastodon</a><hr class="inline-hr">
  <a href="https://www.duolingo.com/profile/muan" rel="me">Duolingo</a><hr class="inline-hr">
  <a href="http://letterboxd.com/muan/" rel="me">Letterboxd</a>
</nav>

<div class="lang">
  <a href="/zh-TW/" srclang="zh-TW">正體中文</a><a href="/" srclang="en-US" aria-current="true">English</a><a href="/de-DE/" srclang="de-DE">Deutsch</a>
</div>

<hr class="hr">

<h2 class="normal-heading">Stories</h2> <a href="/stories.xml" class="styled-link">RSS</a> <a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">What are these?</a>

{% include stories.html lang="en" %}

<hr class="hr">

<h2 class="normal-heading">Photos</h2><a href="/photos" class="styled-link">All photos</a> <a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.photos | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/photos#P{{ photo.id }}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<h2 class="normal-heading">Film photos</h2><a href="/film" class="styled-link">All film photos</a> <a href="/film.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.film | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/film#P{{ photo.id}}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

{% assign note = site.notes | last %}
<h2 class="normal-heading">Notes</h2><a href="/notes" class="styled-link">Recent notes</a> <a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <time class="general-actions monospace">
    {{ note.date | date: "%b %e, %Y" }}
  </time>
  <div class="note-content" lang="{{ note.lang }}">{{ note.content | markdownify }}</div>
  <div class="note-tags">{% for tag in note.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
</div>

<hr class="hr">

<h2 class="normal-heading">Recent posts</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time class="monospace" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %e, %Y" }}</time></li>
{% endfor %}
</ul>
