<header class="site-header">
  <div class="instagram"></div>
  <div class="container">
    <nav>
      <a href="/" class="{% if page.url == '/' %} active{% endif %}"><div class="a-person"></div> ABOUT</a>
      <a href="/archive" class="{% if page.url == '/archive/' %} active{% endif %}"><div class="a-page"></div> POSTS</a>
      <a class="active" title="Don't touch the cat."><div class="a-cat"></div></a>
    </nav>
  </div>
</header>
<a id="fork-me" class="fork-me" href="https://github.com/muan/muan.github.com">Fork this site on GitHub</a>
