<link href='/assets/new.css' rel='stylesheet' type='text/css' />
<link href='/assets/syntax.css' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
{% if page.date %}
  <meta content='{{ site.url }}{{ page.url }}' property='og:url' />
  <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property='og:description' />
  <meta content="article" property="og:type" />
  <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
  {% if page.image %}
    <meta content="http://muan.co/images/{{ page.image }}" property="og:image" />
  {% endif %}
  <title>{{ page.title }} - {{ site.title }}</title>
{% else %}
  <title>{{ site.title }}</title>
  <meta content='{{ site.title }}' property='og:title' />
  <meta content='{{ site.url }}' property='og:url' />
  <meta content="{{ site.description }}" property='og:description' />
  <meta content="blog" property="og:type" />
{% endif %}
<!-- - -->
{% include ga.html %}
