<div class="links">
  <a target="_blank" class="active" id="ind-about" href="/about">About</a>
  <a target="_blank" class="active" id="ind-github" href="http://github.com/muan">GitHub</a>
  <a target="_blank" class="active" id="ind-twitter" href="http://twitter.com/muanchiou">Twitter</a>
  <a target="_blank" class="active" id="ind-linkedin" href="http://uk.linkedin.com/in/muanchiou">LinkedIn</a> 
  <a target="_blank" class="active" id="ind-dribbble" href="http://dribbble.com/muan">Dribbble</a>
  <a target="_blank" class="active" id="ind-instagram" href="http://instagram.com/muanchiou">Instagram</a>
  <a target="_blank" class="active" id="ind-email" href="mailto:hello@muan.co">Email</a>
</div>