<a name="links"></a><div class="special-line">Here's a flag.</div>
Morning, my name is <a href="/about">Mu-An Chiou</a>.<br />
I'm a designer + developer. <br />
<a href="mailto:me@muanchiou.com" id="say-hi">Say hi</a>.
<br /><br /><br />
<div class="special-line">All the links in the world.</div>
<a target="_blank" id="ind-github" href="http://github.com/muan">Github</a>, 
<a target="_blank" id="ind-twitter" href="http://twitter.com/muanchiou">Twitter</a>,
<a target="_blank" id="ind-linkedin" href="http://uk.linkedin.com/in/muanchiou">LinkedIn</a>, 
<a target="_blank" id="ind-instagram" href="http://instagram.com/muanchiou">Instagram</a>,
<a target="_blank" id="ind-dribbble" href="http://dribbble.com/muan">Dribbble</a>