<a name="links"></a>
Morning, this is <a href="/about">Mu-An Chiou</a>. Looking for a designer devloper? <a href="mailto:me@muanchiou.com" id="say-hi">I'm available</a>.
<section class="hide-small">
  <span class="muted">What's up? </span>
  I made a page for <a href="http://muan.co/styles" target="_blank">Hacker News stylesheet</a>
  <span data-time="2013-04-10"></span>.<br />
</section>
<br />
<a target="_blank" id="ind-github" href="http://github.com/muan">Github</a>, 
<a target="_blank" id="ind-twitter" href="http://twitter.com/muanchiou">Twitter</a>,
<a target="_blank" id="ind-linkedin" href="http://uk.linkedin.com/in/muanchiou">LinkedIn</a>, 
<a target="_blank" id="ind-hn" href="https://www.hnsearch.com/search#request/all&q=muan">HN</a>,
<a target="_blank" id="ind-dribbble" href="http://dribbble.com/muan">Dribbble</a>,
<a target="_blank" id="ind-instagram" href="http://instagram.com/muanchiou">Instagram</a>,
<a target="_blank" id="ind-email" href="mailto:me@muanchiou.com">Email</a>