<a name="links"></a><div class="special-line">Here's a flag.</div>
Morning, my name is <a href="/about">Mu-An Chiou</a>.<br />
Looking for a designer devloper? <a href="mailto:me@muanchiou.com" id="say-hi">I'm available</a>.
<br /><br /><br />
<div class="special-line">All the links in the world.</div>
<a target="_blank" id="ind-github" href="http://github.com/muan">Github</a>, 
<a target="_blank" id="ind-twitter" href="http://twitter.com/muanchiou">Twitter</a>,
<a target="_blank" id="ind-linkedin" href="http://uk.linkedin.com/in/muanchiou">LinkedIn</a>, 
<a target="_blank" id="ind-hn" href="https://www.hnsearch.com/search#request/all&q=muan">HN</a>,
<a target="_blank" id="ind-dribbble" href="http://dribbble.com/muan">Dribbble</a>,
<a target="_blank" id="ind-instagram" href="http://instagram.com/muanchiou">Instagram</a>,
<a target="_blank" id="ind-email" href="mailto:me@muanchiou.com">Email</a>