<div class="signoff">
  <p>
    Til next time,<br/>
    <div class="avatar-wrapper"><img src="/images/panda.png" alt="@muan wearing a Panda head in GitHub summer 2013 summit." class="avatar" /></div>
    Mu-An
    <span class="muted">{{ page.date | date: "at %H:%M" }}</span>
    <br />
    <span class="small upcase bold"><a href="/about" id="me">Find out about me</a>. Also <a href="" target="_blank">Tweet</a> this or follow me on <a href="https://twitter.com/muanchiou/" target="_blank">Twitter</a>.</span>
  </p>
</div>