{% assign categories = "Animals,Taiwan,Books,Cook,Plants,Friends,Mails" | split: "," %}
{% assign stories = site.data.stories | sort: "uploaded" | reverse %}
{% assign new_categories_arr = "" | split: "" | compact %}
{% for story in stories %}
  {% if story.meta.tags contains 'Highlight' %}
    {% for tag in story.meta.tags %}
      {% assign new_categories_arr = new_categories_arr | concat: story.meta.tags %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% assign new_categories_arr = new_categories_arr | uniq %}

<div class="stories">
  <open-stories src="/stories.json" show-metadata><span>
    {% if include.lang == "en" %}24h{% else %}{{ site.i18n["24h"] }}{% endif %}
  </span></open-stories>

  {% for type in new_categories_arr %}
    {% unless categories contains type %}{% continue %}{% endunless %}
    {% assign c = site.data.stories | where_exp: "s", "s.meta.tags contains type" | where_exp: "s", "s.meta.tags contains 'Highlight'" | size %}
    <open-stories src="/stories-{{ type | downcase }}.json" show-metadata is-highlight>
      {% if include.lang == "en" %}{{ type }}{% else %}{{ site.i18n[type] }}{% endif %}
      <span class="count">&times; {{c}}</span></open-stories>
  {% endfor %}
</div>
