---
---

body {
  background: #fdfdfd;
  color: #353735;
  padding: 1em;
  line-height: 1.8em;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

code,
button {
  font-family: 'Droid Sans Mono', monospace;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.pagination {
  margin: 100px 0 40px;
}

a {
  color: #070c10;
}

mark {
  background-color: #efefef;
  padding: 0 0.3em;

  a { text-decoration: none; }
}

div, a, img, header, footer {
  box-sizing: border-box;
}

.header,
.footer,
.wrapper {
  width: 100%;
  margin: auto;
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer,
.header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-header {
  margin: 30px 0;
}

.post-header,
article {
  margin-bottom: 30px;
}

article img:not(.emoji) {
  padding: 10px;
  background: #fff;
}

.list {
  margin-top: 0.8em;
  padding-left: 15px;
  list-style-image: url('x.png');

  li {
    padding: 0;
    margin-bottom: 15px;
  }

  a {
    &:visited:before {
      content: "✔️ ";
    }
  }
}

img {
  max-width: 100%;
}

hr {
  margin: 40px 70% 40px 0;
  border: 0;
  border-top: 1px solid #353735;
}

blockquote {
  margin: 40px 0px;
  padding: 0 1em;
  border-left: 4px double #ddd;

  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; }
}
