---
---

:root {
  --backgroundColor: #fdfdfd;
  --textColor: #303030;
  --secondaryTextColor: #404040;
  --mutedTextColor: #707070;
  --subtleBackgroundColor: #ffc;
  --linkColor: #2357cd;
  --borderColor: #ccc;
  --hrColor: #888;
  --activeColor: #74d274;
  --langBackgroundColor: #eeeeee;
  --langShadowColor: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #1b1c1b;
    --textColor: #dbdfdf;
    --secondaryTextColor: #cfd5d5;
    --mutedTextColor: #b4b6b8;
    --subtleBackgroundColor: #19446b;
    --linkColor: #6eb8ff;
    --borderColor: #414141;
    --hrColor: #888;
    --activeColor: #74d274;
    --langBackgroundColor: #2c2c2c;
    --langShadowColor: #0b0c0b33;
  }
}

body {
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.65rem;
  padding: 0 2.5em;
  margin: 0;
  font-size: 15px;
  word-wrap: break-word;
}

a {
  color: var(--linkColor);
}
::selection {
  background: var(--subtleBackgroundColor);
}

header {
  padding-top: 2.5em;
}

footer {
  padding-bottom: 2.5em;
}

main {
  padding-top: 1em;
  padding-bottom: 3em;
}

header,
main,
footer {
  max-width: 36em;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Readex Pro', sans-serif;
  margin: 1.4em 0 1em 0;
  font-weight: normal;
}

.post-body .h1 {
  font-size: 1.5rem;
}

.h1 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0;
}

.text {
  font-size: inherit;
  font-weight: normal;
}

.terminal .line {
  padding: 0;
  margin-bottom: 1em;
  line-height: 1.6em;
}

.terminal {
  list-style: none;
  padding-left: 0;

  li {
    padding: .1rem 0;
  }

  ul {
    margin-top: 0.5rem;
  }
}

.hr {
  border: 0;
  border-left: .7rem solid var(--textColor);
  height: .7rem;
  margin: 3rem 0;
}

.notes {
  list-style: none;
  margin: 0;
  padding: 0;

  .note {
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 3em;
    margin-top: 3em;
  }
}

.targeted {
  color: var(--activeColor);
  margin-right: .2em;
  display: inline;
}

.note {
  scroll-margin: 2em;

  &:last-of-type {
    border-bottom: 0;
  }

  .targeted {
    display: none; 
  }

  &:target .targeted {
    display: inline;
  }
  p:first-child, blockquote:first-child { margin-top: 0; }
  p:last-child, blockquote:last-child, img:last-child { margin-bottom: 0; }
}

.note-heading {
  font-size: .8em;
  line-height: 1;
  font-weight: normal;
  margin: 0;
  color: var(--mutedTextColor);

  a {
    color: inherit;
    text-decoration: none;
  }
}

blockquote {
  &::before {
    content: '“';
    font-size: 2rem;
    position: absolute;
    margin-left: -.5em;
    color: var(--secondaryTextColor);
    font-family: sans-serif;
  }
}

img {
  max-width: 100%;
  margin: 1em 0;

  &[width] {
    margin: 0;
    vertical-align: middle;
  }
}

hr {
  margin: 2em 0;
  border: 0;
  border-bottom: 1px solid var(--hrColor);
}

.pagination {
  margin-top: 4em;
}

article {
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

.smol {
  font-size: .8em;
  font-weight: normal;
}

.task-list-item-checkbox {
  margin-right: .5em;
  vertical-align: middle;
}

.entry-title {
  margin: 0;
}

.entry {
  margin-bottom: 3em;
}

.lang {
  font-size: .8rem;
  display: inline-flex;
  margin-top: 2em;
  white-space: nowrap;
  box-shadow: 0 5px 15px var(--langShadowColor);

  a[aria-current] {
    color: var(--textColor);
    
    &:before {
      content: "●";
      color: var(--activeColor);
    }
  }

  a {
    background-color: var(--langBackgroundColor);
    border-color: var(--borderColor);
    color: var(--mutedTextColor);
    padding: 4px 16px;
    margin-right: 1px;
    text-decoration: none;

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:hover {
      background: var(--langBackgroundColor);
    }

    &:focus {
      z-index: 1;
    }

    &:before {
      content: "○";
      color: var(--borderColor);
      padding-right: 10px;
    }
  }
}

.styled-link {
  margin-left: .4rem;
  font-size: .7rem;
  border-radius: 4px;
  border: 1px solid;
  padding: 3px 6px;
  text-decoration: none;
  vertical-align: middle;
}

header > .styled-link:first-of-type {
  margin-left: 0;
}

time {
  font-size: .8em;
  color: var(--mutedTextColor);
}

.desc {
  color: var(--mutedTextColor);
  font-size: 0.8em;
}

.offsetthis {
  vertical-align: super;
  font-size: .6em;
}