---
---

body {
  padding: 0;
  margin: 30px 0;
  line-height: 1.8em;
  font-family: 'Cutive Mono', "YuMincho", monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

code {
  font-family: 'Cutive Mono', "YuMincho", monospace;
}

h2, .name {
  font-family: "Halant";
  font-weight: normal;
}

h2 {
  background: url('fun-line.png') 0 100% no-repeat;
  margin-left: -2px;
  padding-left: 2px;
  background-size: 20px;
  font-size: 1.2em;
}

p {
  margin-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.pagination {
  margin: 100px 0 40px;
}

a {
  color: #1D75AB;
  text-decoration: none;

  &.page-nav {
    white-space: nowrap;
    margin-right: 30px;
    padding: 0 10px;
    border-bottom: 1px solid #489CCB;
    font-size: 0.8em;
  }
}

h2 {
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

.post-title {
  background: none;
  margin: 0;
  font-size: 1.5em;
}

mark {
  background-color: #F5FFCD;
}

div, a, img {
  box-sizing: border-box;
}

.header,
.footer,
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 660px;
}

.footer,
.header {
  padding: 30px 0;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.post-header {
  &:after {
    display: block;
    content: "";
    background: url('fun-line.png') no-repeat;
    height: 5px;
    width: 20px;
    background-size: 100%;
    margin: 30px 0;
  }
}

.post-header,
article {
  margin-bottom: 30px;
}

article img:not(.emoji) {
  padding: 20px;
  border: 1px solid #eee;
}

.photos,
.caption {
  &:before, &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.photos {
  position: relative;
  margin-bottom: 15px;
}

.photo {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;

  img {
    background-color: #f0f0f0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  &.p-1:hover ~ .c-1,
  &.p-2:hover ~ .c-2,
  &.p-3:hover ~ .c-3,
  &.p-4:hover ~ .c-4 {
    display: block;
  }
}

.caption {
  display: none;
  top: 100%;
  line-height: 1;
  font-size: 0.8em;
  position: absolute;
}

.list {
  padding-left: 15px;
  list-style-image: url('x.png');

  li {
    padding: 0;
    font-size: 0.9em;
    color: #4B4640;
    margin-bottom: 15px;
  }

  a {
    font-weight: bold;

    &:visited:before {
      content: "✔️ ";
    }
  }

  time {
    font-size: 12px;
    margin-top: -8px;
    display: block;
    color: #767676;
  }
}

img {
  max-width: 100%;
}

hr {
  margin: 40px 70% 40px 0;
  border: 0;
  border-top: 1px solid #A6D2E2;
}

blockquote {
  margin: 40px 0px;
  padding: 10px 20px 10px 50px;
  border-left: 4px double #ddd;

  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; }
}

.sr-only {
  position: absolute;
  left: -99999px;
}
