---
modes:
  light:
    foreground: "#353735"
    background: "#fdfdfd"
    link_foreground: "#070c10"
    mark_background: "#efefef"
  dark:
    foreground: "#fdfdfd"
    background: "#1b1b1b"
    link_foreground: "#fafff7"
    mark_background: "#303030"
---

#dark-mode:checked {
  & ~ .theme {
    color: {{ page.modes.dark.foreground }};
    background: {{ page.modes.dark.background }};

    mark {
      color: {{ page.modes.dark.foreground }};
      background: {{ page.modes.dark.mark_background }};
    }

    a {
      color: {{ page.modes.dark.link_foreground }};

      &:hover {
        background: {{ page.modes.dark.foreground }};
        color: {{ page.modes.dark.background }};
      }
    }


    .highlight {
      background-color: {{ page.modes.dark.foreground}};
    }

    code, pre {
      color: {{ page.modes.dark.foreground }}
    }

    .note:not(:last-child) {
      border-bottom: 1px solid {{ page.modes.dark.mark_background }};
    }
  }

  ~ .dark-mode-label {
    .dark-mode-inner-content::before {content: '☑'}
    color: {{ page.modes.dark.foreground }};
    // background-color: {{ page.modes.dark.mark_background }};
  }
}

.dark-mode-checkbox {
  position: absolute;
  top: -5em;
}

.dark-mode-label {
  .dark-mode-inner-content::before {content: '☐'; font-size: 1.3em; }
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  top: 2em;
  margin-bottom: 0;
  pointer-events: none;
}

.dark-mode-inner-content {
  pointer-events: all;
}

.theme {
  background: {{ page.modes.light.background }};
  color: {{ page.modes.light.foreground }};
  padding-top: 6em;
  flex: 1 1 auto;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 1.8em;
  letter-spacing: -0.01em;
  font-family: Cousine, monospace;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  min-height: 100vh;
}

body.has-js *:focus {
  outline: none;
}

::selection {
  background-color: #79d688;
}

body.keydown *:focus,
body:not(.has-js) *:focus {
  outline: 1px solid #79d688;
  outline-offset: 4px;
}

details {
  margin: 1em 0;
}

summary::-webkit-details-marker {
  font-size: 0.8em;
  margin-right: 0.8em;
}

summary {
  cursor: pointer;
}

code,
button {
  font-family: Cousine, monospace;
}

h2 {
  font-size: 1.2em;
  margin-top: 50px;

  &:first-child {
    margin-top: 0;
  }
}

p {
  margin-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.pagination {
  margin: 100px 0 40px;
}

a {
  color: {{ page.modes.light.link_foreground }};

  &:hover {
    text-decoration: none;
    background: {{ page.modes.light.foreground }};
    color: {{ page.modes.light.background }};
  }
}

mark {
  color: {{ page.modes.light.foreground }};
  background-color: {{ page.modes.light.mark_background }};

  a { text-decoration: none; padding: 0 0.3em; }
}

div, a, img, header, footer, main {
  box-sizing: border-box;
}

.dark-mode-inner-content,
.header,
.footer,
.wrapper {
  margin: 0 0 30px;
  max-width: 100%;
  width: 46em;
}

.dark-mode-inner-content {
  padding: 0 1em;
}

.header,
.footer,
.wrapper {
  padding: 0 2em;
}

.post-header {
  margin: 30px 0;
}

.post-title {
  font-size: 1.2em;
  margin: 0;
}

.post-header,
article {
  margin-bottom: 30px;
}

article img:not(.emoji) {
  padding: 10px;
  background: #fff;
}

.list-notes {
  opacity: 0.85;
  margin-left: 1em;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.list {
  opacity: 0.85;
  margin-left: 2.5em;
  margin-top: 0.8em;
  padding-left: 0;
  list-style: none;

  li {
    padding: 0;
    margin-bottom: 15px;

    &:before {
      content: '•';
      position: absolute;
      margin-left: -1.5em;
    }
  }
}


img {
  max-width: 100%;
}

hr {
  margin: 40px 70% 40px 0;
  border: 0;
  border-top: 1px solid;
}

blockquote {
  margin: 40px 0px;
  padding: 0 1em;
  border-left: 4px double;

  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; }
}

button {
  padding: 5px 6px 3px;
  border-radius: 2px;
  border: 0;
  background: transparent;
  color: {{ page.modes.light.foreground }};
  background-color: {{ page.modes.light.mark_background }};
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}

.as-text {
  display: inline;
  font-size: inherit;
}

.h1 {
  margin: 0;
  font-size: 1.5em;
}

.note {
  &:not(:last-child) {
    border-bottom: 1px solid {{ page.modes.light.mark_background }};
  }

  &:target, &.target {
    margin: 0 -0.8em 0 -1.6em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    outline: 1px solid #d0c548;
    border-bottom: 0;
  }

  p:first-child { margin-top: 0; }
  p:last-child { margin-bottom: 0; }
  blockquote { margin: 0.8em 0; }

  padding: 0.8em 0.8em 0.8em 0;
  box-sizing: border-box;
  margin: 0 -0.8em;
  scroll-margin: 2em;
}

.small {
  font-size: 0.85em;
}

blink {
  // color: blue;
  animation: 1s linear infinite condemned_blink_effect;
}
@keyframes condemned_blink_effect {
  0% { visibility: hidden; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}
