---
---

body {
  background: #111;
  color: #bbb;
  font-family: 'Cousine', monospace;
  line-height: 1.65rem;
  padding: 1.5em 2.5em;
  font-size: 14px;
}

a {
  color: #a0bfd0;

  &:visited {
    color: #8096a2;
  }
}

*:focus {
  outline: 3px solid #fff;
  outline-offset: 3px;
}

::selection {
  background: #000;
}

header,
main,
footer {
  max-width: 50em;
  margin: auto;
}

.h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
}

.text {
  font-size: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .blink {
    animation: blink 1.5s steps(2, end) infinite;
  }
}

@keyframes blink {
  0% {color: transparent; }
  100% {color: #fff;}
}

.terminal {
  list-style: none;
  padding-left: 1.1rem;

  li:before {
    color: #777;
    content: '$ ';
    margin: 0 -1.1rem;
    position: absolute;
  }

  li, ul {
    margin-top: 0.5rem;
  }
}

.note {
  scroll-margin: 2em;
  margin: 2em 0 3em;
  border: 3px solid #333;
  padding: .5em 1.4em 1.4em;

  &:target {
    border-color: #888;
  }

  p:first-child, blockquote:first-child { margin-top: 0; }
  p:last-child, blockquote:last-child, img:last-child { margin-bottom: 0; }
}

.note-heading {
  font-size: .7rem;
  text-transform: uppercase;
  padding: 0 .5em;
  position: absolute;
  margin-left: -.5em;
  margin-top: -2em;
  background: #111;

  a {
    color: inherit;
    text-decoration: none;
  }
}

blockquote {
  &::before {
    content: '“';
    font-size: 2rem;
    position: absolute;
    margin-left: -.5em;
    color: #434343;
    font-family: sans-serif;
  }
}

img {
  max-width: 100%;
  margin: 1em 0;

  &[width] {
    margin: 0;
    vertical-align: middle;
  }
}

hr {
  margin: 2em 0;
  border: 0;
  border-bottom: 1px solid #888;
}

.pagination {
  margin-top: 4em;
}

article {
  font-family: system-ui, sans-serif;
  font-size: 16px;
}
