@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
  background-color: #f4f4f4;
  color: #343434;
  line-height: 1.6em;
  font-family: Ubuntu;
  padding: 20px 0; }

a {
  color: #6AD;
  font-weight: 700; }

b, strong, h1, h2, h3, h4, h5 {
  font-weight: 700; }

hr {
  border: 0;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  margin: 20px 0;
  height: 6px; }

.wrapper {
  max-width: 620px;
  width: 100%;
  margin: auto; }

.site-header, .site-footer {
  padding: 25px;
  text-align: center; }

.site-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px; }
  .site-header nav a {
    border-bottom: 2px solid #6ad; }
  .site-header .site-title {
    color: #676767;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold; }
    .site-header .site-title .firstname {
      margin-right: 5px; }
    .site-header .site-title .lastname {
      opacity: 0.4; }

.posts {
  text-align: center;
  font-size: 0; }
  .posts .post-link {
    color: inherit;
    font-size: 13px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .posts .post-link.padded-right {
      padding-right: 185px; }
    .posts .post-link .post-cover {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      width: 160px;
      top: 0;
      right: 0;
      background-size: cover;
      background-position: 50% 50%;
      border: 10px solid #fff;
      height: 100%;
      opacity: .3; }
    .posts .post-link .post-title {
      margin: 0 0 5px; }
    .posts .post-link .meta {
      opacity: .4;
      font-size: 10px; }
    .posts .post-link .excerpt {
      color: #888;
      margin: 20px 0 0;
      max-height: 100px;
      overflow: hidden;
      font-weight: normal; }
    .posts .post-link .mark {
      opacity: 0; }
    .posts .post-link:hover {
      border: 1px solid #eee;
      box-shadow: 0 0 25px #eee; }
      .posts .post-link:hover .mark {
        opacity: 1; }
      .posts .post-link:hover .post-cover {
        opacity: .6; }

.mark {
  position: absolute;
  left: 10px;
  top: 10px;
  border: 8px solid #eee;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

article {
  padding: 25px;
  background-color: #fff;
  font-size: 14px;
  color: #565656;
  line-height: 1.6em;
  position: relative; }
  article p {
    margin: 0.6em 0; }
  article header {
    margin-bottom: 30px; }
    article header .post-title {
      font-weight: 700;
      margin: 0; }
  article .signoff {
    margin-top: 30px;
    color: #777; }
  article * {
    max-width: 100%; }
  article img:not([height]) {
    margin: 10px 0;
    width: 100%;
    border-radius: 4px; }
  article blockquote {
    font-style: normal;
    margin: 20px 0 20px -30px;
    width: auto;
    display: block;
    padding: 5px 25px 5px 20px;
    border-left: 10px solid #e0e9ed;
    box-shadow: -5px 0 0 white,  -5px 5px 0 white,  -5px -5px 0 white; }
    article blockquote p:first-child, article blockquote p:last-child {
      margin: 0; }
  article ul, article ol {
    margin: 20px 0 20px 20px; }

.pagination {
  margin-top: 25px;
  padding: 25px; }
  .pagination h4 {
    margin: 0 0 5px; }

.plain {
  background-color: transparent;
  border: 0;
  margin: 40px auto 30px;
  text-align: left;
  color: #999;
  display: inline-block; }
