@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  color: #dADADB;
  line-height: 1.45em;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #1C1F21; }

a {
  color: #7ad;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear; }
  a:hover {
    color: #8cf;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5); }

b, strong, h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #efefeb; }

hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 30px auto;
  height: 0;
  width: 50%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1); }

.container {
  width: 100%;
  max-width: 520px;
  margin: auto;
  position: relative; }

.site-footer {
  padding: 50px 0 50px;
  margin-top: 100px;
  font-size: 12px;
  font-weight: 700;
  opacity: .6;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .site-footer:hover {
    opacity: 1; }

.site-header {
  *zoom: 1;
  padding: 20px 0;
  font-size: 12px; }
  .site-header:before, .site-header:after {
    content: " ";
    display: table; }
  .site-header:after {
    clear: both; }
  .site-header nav a {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    font-weight: 700;
    margin-right: 10px;
    color: #aaa;
    border-bottom: 1px solid #343434; }
    .site-header nav a.active, .site-header nav a:hover {
      border-color: #9df;
      color: #eee; }

.posts .post {
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px; }
  .posts .post:last-child .post-link {
    border-bottom: 0; }
.posts .post-link {
  display: block;
  padding-bottom: 10px; }
  .posts .post-link .post-title {
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    font-weight: 700;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #48a; }
  .posts .post-link:hover .post-title {
    color: #8cf; }
  .posts .post-link:hover .meta {
    color: #5f5f5f; }
  .posts .post-link .meta {
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    font-size: 11px;
    text-shadow: none;
    text-transform: uppercase;
    color: #434343;
    font-weight: 700;
    line-height: 1.3em; }

.avatar {
  border-radius: 100px;
  width: 60px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: middle;
  margin-right: 15px;
  border: 0; }
  .avatar.big {
    width: 136px; }
  .avatar + .post-title {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    margin: 0;
    vertical-align: middle; }

header .post-title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px;
  position: relative;
  z-index: 1;
  line-height: 1em; }

article header {
  margin-bottom: 20px; }
article img {
  max-width: 100%;
  margin: 10px 0; }
  article img.emoji {
    margin: 0; }
article .small {
  max-width: 260px; }
article blockquote {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: -2px 0 0 rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  font-style: normal;
  margin: 30px 0 30px; }
  article blockquote p:first-child, article blockquote p:last-child {
    margin: 0; }

.tip {
  font-size: 14px;
  margin: 40px 0 0; }
  .tip code {
    font-size: 9px;
    border-radius: 2px;
    padding: 2px 4px 1px;
    background-color: transparent;
    border: 0;
    color: #fff; }

.pagination {
  height: 20px;
  position: absolute;
  top: 62px;
  width: 100%;
  display: none; }
  .pagination .page-nav {
    font-size: 0;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    display: block;
    height: 0;
    border: 8px solid transparent; }
  .pagination .previous {
    float: left;
    margin-left: -25px;
    border-right: 10px solid #ddd;
    border-left-width: 0; }
  .pagination .next {
    float: right;
    margin-right: -25px;
    border-left: 10px solid #ddd;
    border-right-width: 0; }

.plain {
  background-color: transparent;
  border: 0;
  margin: 40px auto 30px;
  text-align: left;
  color: #999;
  display: inline-block; }

.contribution {
  margin: 0 -100px; }
