body {
  background: #f9f9f9;
  color: #555;
  font-family: "Lato", "Microsoft JhengHei", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.25em;
  padding: 20px; }

[data-more] div.more-body {
  display: none; }

.small {
  font-size: 12px; }

.pull-right {
  float: right; }

strong, b {
  font-weight: 400; }

a, .as-link {
  text-decoration: none;
  color: #47b; }
  a.big-button, .as-link.big-button {
    display: block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 12px;
    line-height: 2em;
    padding: 8px 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border: 4px solid #88aabb;
    background: #6f8f9f; }
    a.big-button:hover, .as-link.big-button:hover {
      background: #608090; }
    a.big-button:active, .as-link.big-button:active {
      box-shadow: inset 0 1px 2px #406070;
      -o-box-shadow: inset 0 1px 2px #406070;
      -ms-box-shadow: inset 0 1px 2px #406070;
      -moz-box-shadow: inset 0 1px 2px #406070;
      -webkit-box-shadow: inset 0 1px 2px #406070; }
    a.big-button.red, .as-link.big-button.red {
      border: 4px solid #ddacac;
      background: #bf6653; }
      a.big-button.red:hover, .as-link.big-button.red:hover {
        background: #bf4634; }
      a.big-button.red:active, .as-link.big-button.red:active {
        box-shadow: inset 0 1px 2px #602022;
        -o-box-shadow: inset 0 1px 2px #602022;
        -ms-box-shadow: inset 0 1px 2px #602022;
        -moz-box-shadow: inset 0 1px 2px #602022;
        -webkit-box-shadow: inset 0 1px 2px #602022; }

#container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative; }

@media (min-width: 960px) {
  #container {
    width: 60%; } }
.colour-1 {
  color: #cc9944; }

.colour-2 {
  color: #925; }

.colour-3 {
  color: #448844; }

.text-big {
  font-size: 200%;
  line-height: 1em; }

hr {
  border: 0;
  border-bottom: 1px dotted #cccccc;
  margin: 25px 0; }

ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none; }
ul.posts li a {
  opacity: 0.7;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;
  font-size: 80%; }
  ul.posts li a:hover {
    opacity: 1; }
  ul.posts li a small {
    font-size: 50%;
    text-transform: uppercase; }

section.post {
  border: 1px dotted #cccccc;
  padding: 15px 15px 0;
  border-top: 0;
  margin: -25px 0 0;
  min-height: 250px; }

section.post, section > p {
  font-size: 1.20rem;
  line-height: 1.75rem; }
  section.post *, section > p * {
    max-width: 100%; }
  section.post blockquote, section > p blockquote {
    font-style: italic;
    color: #999; }
  section.post li .CodeMirror, section > p li .CodeMirror {
    margin: 10px 0; }
  section.post li p, section > p li p {
    margin-bottom: 5px; }
  section.post img, section > p img {
    max-width: 100%; }
    section.post img.half, section > p img.half {
      width: 50%; }

@media (max-width: 580px) {
  section.post img.half {
    width: 100%; } }
.muted {
  color: #777; }

.sec-head {
  display: none;
  background: #494949;
  color: #fff;
  display: block;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  line-height: 58px;
  margin: 10px auto;
  text-align: center;
  font-size: 80%;
  text-shadow: -1px -1px 0px black; }

section.footer {
  text-align: center;
  font-size: 1rem;
  line-height: 2rem; }
  section.footer * {
    color: inherit; }

.twitter {
  margin-top: 0px;
  position: absolute;
  right: 20px; }

section.info {
  width: 31%;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  font-size: 1rem;
  line-height: 2rem; }
  section.info.one {
    width: 100%; }
    section.info.one:not(:last-of-type) {
      border-bottom: 1px dotted #cccccc;
      margin-bottom: 20px;
      padding-bottom: 20px; }
  section.info .title {
    font-size: 1rem;
    margin: -18px 0; }
  section.info:not(:last-of-type) {
    margin-right: 2%; }
  section.info small {
    color: #999; }
  section.info .item * {
    padding-bottom: 2px;
    border-bottom: 1px dotted #cccccc; }

center.date {
  font-size: 60%;
  position: relative;
  height: 0;
  top: -10px; }

.hr {
  clear: both;
  height: 1px;
  border-top: 1px dotted #d0d0d0;
  margin: 25px 0;
  text-align: center; }
  .hr a.title {
    color: #99aacc; }
  .hr .title {
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #f9f9f9;
    padding: 0 8px;
    margin: -21px 0;
    font-size: 0.5em;
    text-align: center;
    color: #a0a0a0;
    display: inline-block; }
