@charset "UTF-8";
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-80deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(-80deg); } }

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(-80deg); } }

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(-80deg); } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(-80deg); } }

h1, h2, h3, h4, h5 {
  font-weight: 400; }

html, body {
  height: 100%; }

body {
  background: #f9f9f9;
  color: #303030;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 19px;
  padding: 0;
  margin: 0; }

#me {
  border-radius: 7px; }

.hide {
  display: none; }

.a-r {
  text-align: right; }

.a-c {
  text-align: center; }

.small {
  font-size: 11px; }

.pull-right {
  float: right; }

.muted {
  color: #777; }

.colour-1 {
  color: #cc9944; }

.colour-2 {
  color: #925; }

.colour-3 {
  color: #448844; }

.text-big {
  font-size: 24px;
  line-height: 1em; }

strong, b {
  font-weight: 400; }

blockquote {
  margin: 0;
  font-style: normal !important; }

#container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  *zoom: 1;
  padding: 0 0 60px;
  position: relative; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }

.sidebar, .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative; }

.sidebar {
  width: 40%;
  -webkit-transition: all, 0.8s;
  -moz-transition: all, 0.8s;
  -ms-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  transition: all, 0.8s;
  padding: 30px 30px; }

.content {
  width: 60%;
  border-width: 0;
  border-style: solid;
  border-color: #efefef;
  padding: 30px;
  background-color: #fff; }

a, .as-link {
  text-decoration: none;
  color: #4a8;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s; }
  a:hover, .as-link:hover {
    color: #448866; }
  a.big-button, .as-link.big-button {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    min-width: 30%;
    border-radius: 2px;
    -webkit-transition: all, 0.2s;
    -moz-transition: all, 0.2s;
    -ms-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-width: 0;
    border-style: solid;
    border-color: #8ab;
    background: #6f8f9f;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    a.big-button:hover, .as-link.big-button:hover {
      background: #608090;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 3px rgba(255, 255, 255, 0.55), inset 0 -1px 3px rgba(0, 0, 0, 0.2); }
    a.big-button:active, .as-link.big-button:active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); }
    a.big-button.red, .as-link.big-button.red {
      border-color: #ddacac;
      background: #bf6653; }
      a.big-button.red:hover, .as-link.big-button.red:hover {
        background: #bf4634; }
    a.big-button.yellow, .as-link.big-button.yellow {
      border-color: #faddaa;
      background: #d0a033; }
      a.big-button.yellow:hover, .as-link.big-button.yellow:hover {
        background: #cc9011; }
    a.big-button.green, .as-link.big-button.green {
      border-color: #ddeed0;
      background: #40914A; }
      a.big-button.green:hover, .as-link.big-button.green:hover {
        background: #308140; }

hr {
  border: 0;
  border-bottom: 1px dotted #cccccc;
  margin: 25px 0; }

@-webkit-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@-moz-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@-ms-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@-o-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

.header .tilde {
  -webkit-animation: tilde 8s ease-in infinite;
  -moz-animation: tilde 8s ease-in infinite;
  animation: tilde 8s ease-in infinite; }

@-webkit-keyframes dropfromsomewhereupthere {
  0% {
    top: -80px;
    color: #999; }

  99% {
    color: #999; }

  100% {
    top: 0; } }

@-moz-keyframes dropfromsomewhereupthere {
  0% {
    top: -80px;
    color: #999; }

  99% {
    color: #999; }

  100% {
    top: 0; } }

@-ms-keyframes dropfromsomewhereupthere {
  0% {
    top: -80px;
    color: #999; }

  99% {
    color: #999; }

  100% {
    top: 0; } }

@-o-keyframes dropfromsomewhereupthere {
  0% {
    top: -80px;
    color: #999; }

  99% {
    color: #999; }

  100% {
    top: 0; } }

@keyframes dropfromsomewhereupthere {
  0% {
    top: -80px;
    color: #999; }

  99% {
    color: #999; }

  100% {
    top: 0; } }

@-webkit-keyframes phewww {
  0% {
    box-shadow: 0 0 0px #836f61; }

  33% {
    box-shadow: 0 0 0px #836f61; }

  99% {
    box-shadow: 0 0 300px #836f61; }

  100% {
    box-shadow: none; } }

@-moz-keyframes phewww {
  0% {
    box-shadow: 0 0 0px #836f61; }

  33% {
    box-shadow: 0 0 0px #836f61; }

  99% {
    box-shadow: 0 0 300px #836f61; }

  100% {
    box-shadow: none; } }

@-ms-keyframes phewww {
  0% {
    box-shadow: 0 0 0px #836f61; }

  33% {
    box-shadow: 0 0 0px #836f61; }

  99% {
    box-shadow: 0 0 300px #836f61; }

  100% {
    box-shadow: none; } }

@-o-keyframes phewww {
  0% {
    box-shadow: 0 0 0px #836f61; }

  33% {
    box-shadow: 0 0 0px #836f61; }

  99% {
    box-shadow: 0 0 300px #836f61; }

  100% {
    box-shadow: none; } }

@keyframes phewww {
  0% {
    box-shadow: 0 0 0px #836f61; }

  33% {
    box-shadow: 0 0 0px #836f61; }

  99% {
    box-shadow: 0 0 300px #836f61; }

  100% {
    box-shadow: none; } }

.flag {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 40px auto 40px;
  font-size: 20px;
  position: relative; }
  .flag .pole {
    -webkit-animation: dropfromsomewhereupthere 0.8s ease-in;
    -moz-animation: dropfromsomewhereupthere 0.8s ease-in;
    animation: dropfromsomewhereupthere 0.8s ease-in;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    line-height: 38px;
    position: relative; }
  .flag:hover .pole {
    color: #bf4634;
    line-height: 26px; }
  .flag .floor {
    -webkit-animation: phewww 2.4s ease-in;
    -moz-animation: phewww 2.4s ease-in;
    animation: phewww 2.4s ease-in;
    border-top-left-radius: 80% 100%;
    border-top-right-radius: 80% 100%;
    border-bottom-left-radius: 80% 100%;
    border-bottom-right-radius: 80% 100%;
    top: 23px;
    left: 10px;
    background: #e0e0e0;
    position: absolute;
    z-index: -1;
    display: block;
    content: " ";
    width: 14px;
    height: 6px; }

.special-line {
  text-indent: 3px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #555; }
  .special-line:hover:before {
    color: #4a8; }
  .special-line:before {
    content: "⚑";
    color: #adadac;
    margin-left: -13px;
    padding-right: 3px; }

ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none; }
ul.posts li:first-of-type a {
  margin-top: 0; }
ul.posts li a {
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  display: block;
  color: #707f7a;
  margin: 0 0 0px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.2em;
  background-color: #fff; }
  ul.posts li a small {
    font-size: 10px;
    color: #aaa;
    text-transform: uppercase;
    letter-spacing: 1px; }
  ul.posts li a:hover {
    color: #385;
    background-color: #f9f9f9; }

section.post {
  max-width: 540px;
  border-top: 0;
  padding: 10px 20px; }
  section.post h2 {
    margin: 0 0 5px;
    letter-spacing: 1px;
    font-weight: 300; }
  section.post .date {
    color: #aaa;
    font-size: 10px; }
  section.post iframe, section.post img {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }

section.post, section > p {
  font-size: 14px;
  line-height: 1.6em; }
  section.post *, section > p * {
    max-width: 100%; }
  section.post iframe.copyin, section > p iframe.copyin {
    margin: 0 -15%;
    max-width: 130%;
    width: 130%; }
  section.post blockquote, section > p blockquote {
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    color: #999;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0 0 0 20px; }
    section.post blockquote:hover, section > p blockquote:hover {
      color: #454545; }
    section.post blockquote:hover:before, section > p blockquote:hover:before {
      color: #b8cec7; }
    section.post blockquote:before, section > p blockquote:before {
      content: "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^";
      font-size: 24px;
      overflow: hidden;
      position: absolute;
      top: 20px;
      bottom: 18px;
      left: -3px;
      line-height: 0.4em;
      word-break: break-all;
      color: #d0dfda;
      display: block;
      width: 7px !important;
      white-space: normal; }
  section.post li .CodeMirror, section > p li .CodeMirror {
    margin: 10px 0; }
  section.post li p, section > p li p {
    margin-bottom: 5px; }
  section.post code, section > p code {
    font-size: 13px;
    color: #888;
    background: #f9f9f9;
    padding: 0 4px; }
  section.post img, section > p img {
    max-width: 100%; }
    section.post img.half, section > p img.half {
      width: 50%; }

section.footer {
  text-align: center;
  font-size: 14px;
  line-height: 2em; }
  section.footer * {
    color: #797979; }

.twitter-button {
  margin-bottom: 40px; }

section.info {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-right: 2%;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px; }
  section.info small {
    color: #999;
    line-height: 1.35em; }
  section.info:last-of-type {
    margin-right: 0; }
  section.info.one {
    width: 100%; }
    section.info.one:not(:last-of-type) {
      border-bottom: 1px dotted #cccccc;
      margin-bottom: 20px;
      padding-bottom: 20px; }

.paging section {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@-webkit-keyframes cage {
  0% {
    background-image: url(../images/13030701.png); }

  31% {
    background-image: url(../images/13030701.png); }

  34% {
    background-image: url(../images/13030702.png); }

  65% {
    background-image: url(../images/13030702.png); }

  68% {
    background-image: url(../images/13030703.png); }

  100% {
    background-image: url(../images/13030703.png); } }

@-moz-keyframes cage {
  0% {
    background-image: url(../images/13030701.png); }

  31% {
    background-image: url(../images/13030701.png); }

  34% {
    background-image: url(../images/13030702.png); }

  65% {
    background-image: url(../images/13030702.png); }

  68% {
    background-image: url(../images/13030703.png); }

  100% {
    background-image: url(../images/13030703.png); } }

@-ms-keyframes cage {
  0% {
    background-image: url(../images/13030701.png); }

  31% {
    background-image: url(../images/13030701.png); }

  34% {
    background-image: url(../images/13030702.png); }

  65% {
    background-image: url(../images/13030702.png); }

  68% {
    background-image: url(../images/13030703.png); }

  100% {
    background-image: url(../images/13030703.png); } }

@-o-keyframes cage {
  0% {
    background-image: url(../images/13030701.png); }

  31% {
    background-image: url(../images/13030701.png); }

  34% {
    background-image: url(../images/13030702.png); }

  65% {
    background-image: url(../images/13030702.png); }

  68% {
    background-image: url(../images/13030703.png); }

  100% {
    background-image: url(../images/13030703.png); } }

@keyframes cage {
  0% {
    background-image: url(../images/13030701.png); }

  31% {
    background-image: url(../images/13030701.png); }

  34% {
    background-image: url(../images/13030702.png); }

  65% {
    background-image: url(../images/13030702.png); }

  68% {
    background-image: url(../images/13030703.png); }

  100% {
    background-image: url(../images/13030703.png); } }

.slide-place-cage {
  border: 1px solid #dddddd;
  border-radius: 3px;
  width: 100%;
  height: 300px;
  cursor: pointer;
  background-image: url(../images/13030701.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: cage 6s linear infinite;
  -moz-animation: cage 6s linear infinite;
  animation: cage 6s linear infinite; }

.label {
  background: #444;
  color: #fff; }

#hire {
  background: #ddeed0;
  padding: 10px 8px;
  border-radius: 3px;
  text-align: center; }

section.share-links .button {
  vertical-align: top;
  height: 20px;
  margin-bottom: 15px; }
