@charset "UTF-8";
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-80deg); } }

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(-80deg); } }

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(-80deg); } }

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(-80deg); } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(-80deg); } }

body {
  background: white;
  color: #303030;
  font-family: "Varela Round", "Microsoft JhengHei", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding: 20px; }

.fc-webicon {
  opacity: 0.5;
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #dddddd;
  margin-right: 8px;
  margin-top: 10px; }
  .fc-webicon.small {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; }
  .fc-webicon:hover {
    opacity: 0.9;
    margin-bottom: 4px; }

.hide {
  display: none; }

.a-r {
  text-align: right; }

.a-c {
  text-align: center; }

.small {
  font-size: 11px; }

.pull-right {
  float: right; }

.muted {
  color: #777; }

.colour-1 {
  color: #cc9944; }

.colour-2 {
  color: #925; }

.colour-3 {
  color: #448844; }

.text-big {
  font-size: 24px;
  line-height: 1em; }

strong, b {
  font-weight: 400; }

blockquote {
  margin: 0;
  font-style: normal !important; }

a, .as-link {
  text-decoration: none;
  color: #4a8;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s; }
  a:hover, .as-link:hover {
    color: #448866; }
  a.big-button, .as-link.big-button {
    display: block;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-transition: all, 0.2s;
    -moz-transition: all, 0.2s;
    -ms-transition: all, 0.2s;
    -o-transition: all, 0.2s;
    transition: all, 0.2s;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-width: 0;
    border-style: solid;
    border-color: #8ab;
    background: #6f8f9f; }
    a.big-button:hover, .as-link.big-button:hover {
      background: #608090;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 3px rgba(255, 255, 255, 0.55), inset 0 -1px 3px rgba(0, 0, 0, 0.2); }
    a.big-button:active, .as-link.big-button:active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); }
    a.big-button.red, .as-link.big-button.red {
      border-color: #ddacac;
      background: #bf6653; }
      a.big-button.red:hover, .as-link.big-button.red:hover {
        background: #bf4634; }
    a.big-button.yellow, .as-link.big-button.yellow {
      border-color: #faddaa;
      background: #d0a033; }
      a.big-button.yellow:hover, .as-link.big-button.yellow:hover {
        background: #cc9011; }
    a.big-button.green, .as-link.big-button.green {
      border-color: #ddeed0;
      background: #40914A; }
      a.big-button.green:hover, .as-link.big-button.green:hover {
        background: #308140; }

#container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: relative; }

hr {
  border: 0;
  border-bottom: 1px dotted #cccccc;
  margin: 25px 0; }

@-webkit-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@-moz-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@-ms-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@-o-keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

@keyframes tilde {
  0% {
    margin-left: 0; }

  50% {
    margin-left: -50%; }

  100% {
    margin-left: 0; } }

.header .tilde {
  -webkit-animation: tilde 8s ease-in infinite;
  -moz-animation: tilde 8s ease-in infinite;
  animation: tilde 8s ease-in infinite; }

.hr {
  clear: both;
  margin: 25px 0; }
  .hr a.title {
    color: #99aacc; }
  .hr .title {
    font-size: 13px;
    text-transform: uppercase;
    color: #555; }
    .hr .title:hover:before {
      color: #4a8; }
    .hr .title:before {
      content: "⚑";
      color: #adadac;
      margin-left: -13px;
      padding-right: 3px; }

ul.posts, ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none; }
ul.posts li a {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  display: block;
  color: #a0afaa;
  margin: 20px 0 10px;
  font-size: 16px;
  line-height: 1em; }
  ul.posts li a small {
    font-size: 10px;
    color: #d0d0d0;
    text-transform: uppercase; }
  ul.posts li a:hover {
    color: #697;
    margin-left: 5px; }

section.post {
  padding: 25px 0px 0;
  border-top: 0; }
  section.post .title {
    font-size: 24px; }
  section.post .date {
    color: #d0d0d0; }
  section.post .author {
    color: #c0c0c0; }
    section.post .author a {
      color: #acb; }
  section.post iframe, section.post img {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }

section.post, section > p {
  font-size: 14px;
  line-height: 1.75em; }
  section.post *, section > p * {
    max-width: 100%; }
  section.post iframe.copyin, section > p iframe.copyin {
    margin: 0 -15%;
    max-width: 130%;
    width: 130%; }
  section.post blockquote, section > p blockquote {
    color: #909090; }
    section.post blockquote:before, section > p blockquote:before {
      content: "◌";
      margin-left: -26px;
      line-height: 20px;
      color: #d0dfda;
      font-size: 36px;
      position: absolute; }
  section.post li .CodeMirror, section > p li .CodeMirror {
    margin: 10px 0; }
  section.post li p, section > p li p {
    margin-bottom: 5px; }
  section.post img, section > p img {
    max-width: 100%; }
    section.post img.half, section > p img.half {
      width: 50%; }

.sec-head {
  color: #797979;
  line-height: 40px;
  margin: auto;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-transform: uppercase; }
  .sec-head:hover {
    color: #333;
    background: #fff;
    text-shadow: 1px 1px 0px #bbbbbb, 2px 2px 0px #bbbbbb, 3px 3px 0px #bbbbbb;
    line-height: 36px;
    text-indent: -3px; }

section.footer {
  text-align: center;
  font-size: 14px;
  line-height: 2em; }
  section.footer * {
    color: #797979; }

.twitter-button {
  margin-bottom: 40px; }

section.info {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-right: 2%;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px; }
  section.info small {
    color: #999;
    line-height: 1.35em; }
  section.info .title {
    margin: -18px 0; }
  section.info .item a {
    padding-bottom: 1px;
    border-bottom: 1px dotted #cccccc; }
  section.info:last-of-type {
    margin-right: 0; }
  section.info.one {
    width: 100%; }
    section.info.one:not(:last-of-type) {
      border-bottom: 1px dotted #cccccc;
      margin-bottom: 20px;
      padding-bottom: 20px; }

.paging section {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
