.tooltip {
  position: absolute;
  opacity: 0.8;
  background: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
  color: white;
  padding: 6px 10px;
  line-height: 1.4em;
  max-width: 240px; }
  .tooltip.show {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
  .tooltip .arrow {
    border: 6px solid transparent;
    border-top: 6px solid black;
    position: absolute;
    left: 10px;
    bottom: -10px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }
