---
title: 嗨，我是慕安。
layout: default
footer_content: |
  手分手分手。
header_content: |
  <span class="smol">正體中文 / <a href="/">English</a></span>
---

{% assign i = 0 %}
<ul class="terminal">

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我在 <a href="https://github.com/">GitHub</a> 擔任資深軟體工程師。主要寫 JavaScript 和 Ruby。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我共同創辦了<a href="https://www.zeczec.com/">嘖嘖</a>，一個台灣的群眾集資網站。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我住在<a href="https://www.instagram.com/p/Brn5p01Huga/">紐約</a>布魯克林。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我曾在<a href="https://www.instagram.com/p/SA0L5tpaqE/">英國</a>念家具設計，並在那邊住了五年。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我是土生土長的<a href="https://www.instagram.com/p/B7NDr7YJ_Od/">台灣人</a>。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我的開源作品和貢獻可以在 <a href="https://github.com/muan" rel="me">GitHub</a> 上找到。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我在這裡<a href="/notes">寫些有的沒的</a>。你可以透過 <a href="/notes.xml">RSS</a> 或 <a href="https://micro.blog/muan">micro.blog</a> 訂閱它們。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我很努力地遠離 <a href="https://twitter.com/muanchiou" rel="me">Twitter</a>。
  {% endcapture %}{% include line.html i=i content=content %}

  {% assign i = i | plus: 1 %}
  {% capture content do %}
    我的信箱是 hi @ 這個網域。
  {% endcapture %}{% include line.html i=i content=content %}
</ul>

<hr class="hr">

<h2 class="text">文章 <span class="smol"><a href="/feed.xml">[feed]</a></span></h2>

<ul aria-label="posts" class="terminal">
{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  {% assign i = i | plus: 1 %}
  {% capture content do %}
    <a href="{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time>
  {% endcapture %}{% include line.html i=i content=content %}
{% endfor %}
</ul>

<hr class="hr">

{% assign note = site.data.notes[0] %}
<h2 class="text">最新的筆記  <span class="smol">[{{ note.date | date: "%b %d, %Y" }}]</span></h2>
<div class="note">
  {{ note.content | markdownify }}
</div>
