<!doctype html>
<html lang="{% if page.path contains 'zh-TW' %}zh-TW{% else %}en{% endif %}">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="me" href="https://micro.blog/muan">
    <link rel="alternate" type="application/rss+xml" href="/notes.xml">
    <link rel="icon" href="/assets/fav.svg" type="image/svg+xml" sizes="24x24">
    <!--link rel="icon" href="/assets/fav.png" type="image/png" sizes="96x96"-->
    <link rel="authorization_endpoint" href="https://github-indieauth.herokuapp.com/auth">
    <link rel="token_endpoint" href="https://github-indieauth.herokuapp.com/token">
    <link rel="micropub" href="https://site-endpoint.herokuapp.com/micropub">
    {% if page.collection == "posts" %}
      <link href="/assets/syntax.css" rel="stylesheet" type="text/css">
    {% endif %}
    <link href="/assets/new.css" rel="stylesheet" type="text/css">
    {% if page.collection == "posts" or page.collection == "pages" %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
      <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" name="description">
      <meta content="article" property="og:type">
      <meta content="@muanchiou" property="twitter:site">
      <meta name="twitter:card" content="summary_large_image">
      {% if page.image %}
        <meta content="https://muan.co/images/{{ page.image }}" property="og:image">
        <meta content="https://muan.co/images/{{ page.image }}" property="twitter:image">
      {% elsif page.image_text %}
        <meta content="https://muan-text-image.herokuapp.com/title?v=2&text={{ page.image_text | strip | url_encode }}" property="og:image">
        <meta content="https://muan-text-image.herokuapp.com/title?v=2&text={{ page.image_text | strip | url_encode }}" property="twitter:image">
      {% else %}
        <meta content="summary" name="twitter:card">
        <meta content="https://muan.co/assets/logo.png" name="twitter:image">
        <meta content="https://muan.co/assets/logo.png" property="og:image">
      {% endif %}
      <title>{{ page.title }} - {{ site.title }}</title>
      <meta content="{{ page.title }}" property="og:title">
      <meta content="{{ page.title }}" name="twitter:title">
    {% else %}
      <meta content="summary" name="twitter:card">
      <meta content="https://muan.co/assets/logo.png" property="twitter:image">
      <meta content="{{ site.title }}" name="twitter:title">
      <title>{{ site.title }}</title>
      <meta content="https://muan.co/assets/logo.png" property="og:image">
      <meta content="{{ site.title }}" property="og:title">
      <meta content="{{ site.description }}" name="description">
      <meta content="blog" property="og:type">
      
    {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">

  </head>
  <body class="{% if page.root != true %}post-body{% endif %}" data-page-title="{{ page.title }}">
    <header>
      <div class="logo-container">
        {% if page.root != true %}
          <a href="/" aria-label="Home" class="back-link">&leftarrow;</a>
        {% endif %}
        <svg class="logo" viewBox="0 0 196 169" fill="none" xmlns="http://www.w3.org/2000/svg">
          <title>安</title>
          <path d="M8 92.7061H188" stroke="#cccccc" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M53 50.3528H143" stroke="#cccccc" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M83.0002 8H113" stroke="#cccccc" stroke-width="16" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M53.3782 160.773C64.4534 151.592 86.0271 133.546 97.4226 133.546C112.866 133.546 113.373 160.773 126.168 160.773C138.963 160.773 150.185 155.479 150.185 155.479" stroke="#cccccc" stroke-width="16" stroke-linecap="round"/>
        </svg>
        {% if page.root != true %}
          <span class="font">Mu-An Chiou</span>
        {% endif %}
      </div>
      <h1 class="h1">
        {{ page.title }}
      </h1>
      {% if page.collection == 'posts' %}<time>{{ page.date | date_to_string }}</time>{% endif %}
      <div class="desc">{{ page.header_content }}</div>
    </header>
    <main>
      {% if page.collection == "posts" or page.collection == "pages" %}
        <article>
          {{ content }}
        </article>
        <!--div class="pagination">
          {% if page.previous %}
            <div><a href="{{ page.previous.url }}">
              Prev: {{ page.previous.title }}
            </a></div>
          {% endif %}
          {% if page.next %}
            <div><a href="{{ page.next.url }}">
              Next: {{ page.next.title }}
            </a></div>
          {% endif %}
        </div-->
      {% else %}
        {{ content }}
      {% endif %}
    </main>
    <footer>
      <hr class="hr">
      {% capture label %}{% if page.path == 'index-zh-TW.html' %}查看原始碼{% else %}View source{% endif %}{% endcapture %}
      Mu-An Chiou
      (<a href="https://github.com/muan/site">{{ label }}</a>)
    </footer>

    <script>
      function settime() {
        const timestamp = document.querySelector('[data-timestamp-text]')
        if (!timestamp || !('Intl' in window)) return
        const options = {
          timeZone: "Asia/Taipei",
          timeStyle: "short",
          hour12: false
        }
        let time = new Intl.DateTimeFormat(navigator.language || "zh-TW", options).format(new Date())
        // https://gist.github.com/muan/e7414b6241f088090acd916ed965540e
        // https://bugs.chromium.org/p/chromium/issues/detail?id=1262801
        if (time.match(/^24:/)) time = time.replace('24:', '00:')
        // Setting interpolated string instead of just the time because
        // if there's no JS there should be no mentions of current time
        timestamp.textContent = timestamp.getAttribute('data-timestamp-text').replace('{time}', time)
        setTimeout(settime, (60 - new Date().getSeconds()) * 1000)
      }
      settime()
    </script>
    {% if page.root %}
      <script defer type="module" src="https://unpkg.com/story-view-element@0.0.11"></script>
    {% endif %}
  </body>
</html>
