<html>
  <head>
    <meta content='{{ site.title }}' name='title' />
    <meta content='{{ site.title }}' name='og:title' />
    <title>{{ site.title }}</title>
    {% include header.html %}
    {% include ga.html %}
  </head>
  <body class="no-svg">
    <div id='container'>
      <a class='sec-head' href='/'><span>&#9874;</span></a>
      <div class='hr'>
        <div class='title'>
          {{ site.title }}
        </div>
      </div>

      <div class='stuff'><a name="me"></a>
        <section class='info'>
          <div class='item'>
            <a href='http://copyin.com' id='copyin' target='_blank'>Copyin.com</a>
            <small>designer & developer</small>
          </div>
          <div class='item'>
            <a href='http://zeczec.com' id='zeczec' target='_blank'>Zeczec.com</a>
            <small>co-founder</small>
          </div>
          <div class='item'>
            <a href='https://chrome.google.com/webstore/detail/pivotal-tweaker/aodalckpkgijlndlnlhblojedfboaglg' id='tweaker' target='_blank'>Pivotal Tweaker</a>
            <small>creator</small>
          </div>
          <div class='item'>
            <a href='http://hownice.co' id='hownice' target='_blank'>How Nice</a>
            <small>spokeswoman</small>
          </div>
          <div class='item'>
            <a href='http://github.com/muanchiou/type.js' id='typejs' target='_blank'>Type.js</a>
            <small>player</small>
          </div>
        </section>
        <section class='info'>
          Mu-An Chiou<br />
          <small class="muted">Produces pixels, writes in SCSS, CoffeeScript and Ruby on Rails, says <i>how nice</i> frequently. Based in London.</small><br />
          <a href='http://twitter.com/muanchiou' id='twitter' class="fc-webicon twitter small" target='_blank'>twitter</a>
          <a href='http://uk.linkedin.com/in/muanchiou/' id='linkedin' class="fc-webicon linkedin small" target='_blank'>linkedIn</a>
          <a href='http://instagram.com/muanchiou' id='instagram' class="fc-webicon instagram small" target='_blank'>instagram</a>
          <a href='http://dribbble.com/muanchiou' id='dribbble' class="fc-webicon dribbble small" target='_blank'>dribbble</a>
          <a href='http://github.com/muanchiou' id='github' class="fc-webicon github small"target='_blank'>github</a>
          <a href='http://feeds.feedburner.com/{{site.feedburner_id}}' id='subscribe' class="fc-webicon rss small"target='_blank'>rss</a>
          <a href='mailto:me@muanchiou.com' id='email-icon' class="fc-webicon mail small"target='_blank'>email</a>
        </section>
      </div>
      <div class='hr'>
        <div class='title'>
          only occasionally
        </div>
      </div>
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
