<html>
  <head>
    <meta content='{{ site.title }}' name='title' />
    <meta content='{{ site.title }}' name='og:title' />
    <title>{{ site.title }}</title>
    {% include header.html %}
    {% include ga.html %}
  </head>
  <body class="no-svg">
    <div id='container'>
      <div class='header'>
          I am <a href="/about">Mu-An</a>, a designer + developer. <br />
          Find me on
          <a target="_blank" id="ind-twitter" href="http://twitter.com/muanchiou">twitter</a>,
          <a target="_blank" id="ind-dribbble" href="http://dribbble.com/muanchiou">dribbble</a>, 
          <a target="_blank" id="ind-github" href="http://github.com/muan">github</a>, 
          <a target="_blank" id="ind-linkedin" href="http://uk.linkedin.com/in/muanchiou">linkedin</a>, 
          <a target="_blank" id="ind-instagram" href="http://instagram.com/muanchiou">instagram</a>.
      </div>
      <hr>
      <div class="hr">
        <div class="title">
          Stuff I wrote
        </div>
      </div>
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
