<html>
  <head>
    <meta content='{{ site.title }}' name='title' />
    <meta content='{{ site.title }}' name='og:title' />
    <title>{{ site.title }}</title>
    {% include header.html %}
    {% include ga.html %}
  </head>
  <body class="no-svg">
    <div id='container'>
      <div class='header'>
          I am <a href="/about">Mu-An</a>.<br />
          I 
          <a target="_blank" href="http://twitter.com/muanchiou">tweet</a>,
          <a target="_blank" href="http://dribbble.com/muanchiou">design</a>, 
          <a target="_blank" href="http://github.com/muan">code</a>, 
          <a target="_blank" href="http://instagram.com/muanchiou">upload photos</a>, 
          <a target="_blank" href="http://hownice.co/">say 'how nice!'</a>, 
          and make funny noises. 
      </div>
      <hr>
      <div class="hr">
        <div class="title">
          Stuff I wrote
        </div>
      </div>
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
