<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <a href='/' id='go-back-home' class='flag'>⚑</a>
    <div id='container'>
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      
      <div class="content">
          <section class='post'>
            <a href='{{ page.url }}' class='special-line'>
              {{ page.title }}
            </a>
            {{ content }}
          </section>
        </div>
    </div>
  </body>
</html>
