<html>
  <head>
    <meta content='{{ site.title }} - Who?' name='title' />
    <meta content='{{ site.title }} - Who?' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include header.html %}
    {% include ga.html %}
  </head>
  <body class="no-svg">
    <div id='container'>
      <div class='hr'>
        <div class='title'>
          <a href="/">Back</a>
        </div>
      </div>

      <div class='stuff'><a name="me"></a>
        <section class='info'>
          <div class='item'>
            {{ content }}
          </div>
        </section>
      </div>
      
      {% include footer.html %}
    </div>
  </body>
</html>
