<html>
  <head>
    <meta content='{{ site.title }}' property='og:title' />
    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">

      {% include header.html %}

        <section class="content">
          <article>
            <div class="mark"></div>
            <header>
              <h2 class="post-title">{{ page.title }}</h2>
              <small class="datetime muted">
                {% if page.date %}
                  {{ page.date | date_to_string }} - 
                {% endif %}
                {% unless page.url == "/about/" %}by <a href="https://twitter.com/muanchiou" target="_blank">@muanchiou</a>{% endunless %}
              </small>
            </header>
            {{ content }}
            {% unless page.url == "/about/" %}{% include signoff.html %}{% endunless %}
          </article>
          {% if page.previous or page.next %}
          <div class="pagination">
            You can use keyboard shortcuts <code>◀</code> and <code>▶</code> to navigate.
            <a class="page-nav previous" {% if page.previous %}href="{{ page.previous.url }}" id="js-previous-post"{% endif %}>
              &lt;
            </a>
            <a class="page-nav next" {% if page.next %}href="{{ page.next.url }}" id="js-next-post"{% endif %}>
              &gt;
            </a>
          </div>
          {% endif %}
        </section>

      {% include footer.html %}
    </div>
  </body>
</html>
