name: "Sync photos"

on:
  workflow_dispatch:

jobs:
  process:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        ref: 'main'

      - name: Copy file
        run: output=$(curl -L --fail https://photos.muan.dev/photos.json) && echo $output > _data/photos.json

      - name: Commit and push
        run: |
          git config --global user.email "bot@muan.dev"
          git config --global user.name "photos [bot]"
          git add .
          git commit -m "Update photos" || echo "Nothing to commit"
          git push origin HEAD:main
